<div class="dol-form-section-title">
  <h2>
    <span id="assurancesHeading">Representations and Written Assurances</span>
    <helplink aria-controls="assurancesHelp" aria-describedby="assurancesHeading"></helplink>
  </h2>
</div>
<helptext  id="assurancesHelp">An authorized representative of the employer must provide an electronic signature certifying to the information included in this section.  SWEP applications must be signed by the school counselor or coordinating official.</helptext>
<div class="dol-form-page">
  <div class="usa-content">
    <p>
      I certify that I have read this application and to the best of my knowledge and belief, all answers and information given in the application and attachments are true; that the representations set forth in support of this application to obtain or continue the authorization to pay workers with disabilities at subminimum wage rates are true; and I acknowledge that the authorization, if issued or continued, is subject to revocation in accordance with the provisions of 29 C.F.R. part 525. I represent that as set forth in the regulations governing the employment of workers with disabilities, the following conditions exist and will continue to exist:
    </p>
    <ol type="1">
      <li>Workers employed under the authority in 29 C.F.R. part 525 have disabilities for the work to be performed;</li>
      <li>Wage rates paid to workers with disabilities under the authority in 29 C.F.R. part 525 are commensurate with those paid experienced workers, who do not have disabilities, in industry in the vicinity for essentially the same type, quality, and quantity of work;</li>
      <li>The operations are and will continue to be in compliance with the Fair Labor Standards Act (FLSA), the Walsh-Healey Public Contracts Act (PCA), the McNamara-O’Hara Service Contract Act (SCA), and the Contract Work Hours and Safety Standards Act (CWHSSA), an overtime statute for Federal contract work, as applicable;</li>
      <li>No deductions will be made from the commensurate wages earned by a patient worker to cover the cost of room, board or other services provided by the facility;</li>
      <li>Records required under 29 C.F.R. part 525 with respect to documentation of disability, productivity, work measurements or time studies, and prevailing wage surveys will be maintained.</li>
    </ol>
    <p>Further, I certify that:</p>
    <ol type="1">
      <li>The wage rates of all hourly-rated employees paid in accordance with FLSA section 14(c) will be reviewed at least every six months; and</li>
      <li>Wages paid to all employees under FLSA section 14(c) will be adjusted at periodic intervals, at least once a year, to reflect changes in the prevailing wage paid to experienced workers, who do not have disabilities, employed in the vicinity for essentially the same type of work.</li>
    </ol>
  </div>
  <div class="dol-form-question-block" ng-class="validate('signature.agreement') ? 'usa-input-error margintop' : 'margintop'">
    <span class="usa-input-error-message" role="alert" ng-show="validate('signature.agreement')">{{ validate('signature.agreement') }}</span>
    <ul class="usa-unstyled-list">
      <li>
        <input id="agreement" type="checkbox" name="agreement" ng-value="true" ng-model="formData.signature.agreement"></input>
        <label for="agreement" class="full-width-label">I agree to use an electronic signature. By entering my Full Name and Title below, I certify that I am authorized to accept these representations and assurances on behalf of the organization named on this application.</label>
      </li>
    </ul>
  </div>
  <div class="dol-form-question-block" ng-class="validate('signature.fullName') ? 'usa-input-error margintop' : 'margintop'">
    <label for="fullName" class="dol-form-question-text">Full Name</label>
    <span class="usa-input-error-message" role="alert" ng-show="validate('signature.fullName')">{{ validate('signature.fullName') }}</span>
    <input id="fullName" name="fullName" type="text" ng-model="formData.signature.fullName" />
  </div>
  <div class="dol-form-question-block" ng-class="validate('signature.title') ? 'usa-input-error margintop' : 'margintop'">
    <label for="title" class="dol-form-question-text">Title</label>
    <span class="usa-input-error-message" role="alert" ng-show="validate('signature.title')">{{ validate('signature.title') }}</span>
    <input id="title" name="title" type="text" ng-model="formData.signature.title" />
  </div>
  <div class="dol-form-question-block" ng-class="validate('signature.date') ? 'usa-input-error margintop' : 'margintop'">
    <fieldset>
      <legend class="dol-form-question-text">Date</legend>
      <span class="usa-input-error-message" role="alert" ng-show="validate('signature.date')">{{ validate('signature.date') }}</span>
      <date-field date-val="formData.signature.date"></date-field>
    </fieldset>
  </div>
</div>
