<nav role="navigation" class="main-nav-bar">
    <ul>
        <li class="nav-button {{ vm.current === 'summary' ? 'active' : '' }}" data-sectionid="summary" ng-click="vm.onNavClick($event)" ng-show="admin">Summary</li>
        <li class="nav-button {{ vm.current === 'assurances' ? 'active' : '' }}" data-sectionid="assurances" ng-click="vm.onNavClick($event)">Assurances</li>
        <li class="nav-button {{ vm.current === 'app-info' ? 'active' : '' }}" data-sectionid="app-info" ng-click="vm.onNavClick($event)">Application Info</li>
        <li class="nav-button {{ vm.current === 'employer' ? 'active' : '' }}" data-sectionid="employer" ng-click="vm.onNavClick($event)">Employer</li>
        <li class="nav-button {{ vm.current === 'wage-data' ? 'active' : '' }}" data-sectionid="wage-data" ng-click="vm.onNavClick($event)">Wage Data</li>
        <li class="nav-button {{ vm.current === 'work-sites' ? 'active' : '' }}" data-sectionid="work-sites" ng-click="vm.onNavClick($event)">Work Sites &amp; Employees</li>
        <li class="nav-button {{ vm.current === 'wioa' ? 'active' : '' }}" data-sectionid="wioa" ng-click="vm.onNavClick($event)">WIOA</li>
        <li class="nav-button {{ vm.current === 'review' ? 'active' : '' }}" data-sectionid="review" ng-click="vm.onNavClick($event)" ng-show="!admin && vm.stateService.inReview">Review &amp; Submit</li>
    </ul>
</nav>
