<div class="form-question-group force-margin" ng-show="paytype">
    <div class="form-question-block" ng-class="validate(modelPrefix() + '.numWorkers') ? 'usa-input-error' : ''">
        <div class="form-question-text">
            How many workers did the employer pay {{ paytype === 'hourly' ? 'hourly' : 'on a piece rate basis'}}?
            <helplink></helplink>
            <helptext>Count the total number of workers paid an <strong>TO DO: HOURLY/PIECE RATE</strong> subminimum wage rate at any time during the most recently completed fiscalquarter that ended on the date listed in Item 7(a).</helptext>
        </div>
        <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.numWorkers')">{{ validate(modelPrefix() + '.numWorkers') }}</span>
        <div class="form-question-answer">
            <input id="numWorkers" name="numWorkers" type="number" class="numeric7" min="0" step="1" ng-model="formData[modelPrefix()].numWorkers">
        </div>
    </div>

    <div class="form-question-block" ng-class="validate(modelPrefix() + '.jobName') ? 'usa-input-error' : ''">
        <div class="form-question-text">
            What was the job or contract on which the employer employed the largest number of workers at hourly subminimum wage rates during the most recently completed fiscal quarter?
            <helplink></helplink>
            <helptext>Identify the job or contract on which the most workers were employed at an <strong>TO DO: HOURLY/PIECE RATE</strong> subminimum wage during the most recently completed fiscal quarter. Provide a brief description of the work performed by workers paid subminimum wages (e.g., Kitchen cleaning—sink, counters, stove, refrigerator, microwave cleaning duties, or Contract No. 123-456 with Sheets Inc.&#8212;Laundry Service).</helptext>
        </div>
        <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.jobName')">{{ validate(modelPrefix() + '.jobName') }}</span>
        <div class="form-question-answer">
            <label for="jobName">Name of Job or Contract</label>
            <input id="jobName" name="jobName" type="text" ng-model="formData[modelPrefix()].jobName">
        </div>
    </div>

    <div class="form-question-block" ng-class="validate(modelPrefix() + '.jobDescription') ? 'usa-input-error' : ''">
        <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.jobDescription')">{{ validate(modelPrefix() + '.jobDescription') }}</span>
        <div class="form-question-answer">
            <label for="jobDescription">Description of Work Performed</label>
            <textarea id="jobDescription" name="jobDescription" ng-model="formData[modelPrefix()].jobDescription"></textarea>
        </div>
    </div>

    <div class="form-question-block" ng-class="validate(modelPrefix() + '.prevailingWageMethod') ? 'usa-input-error' : ''">
        <div class="form-question-text">
            Which method did the employer use to determine the Prevailing Wage for the job or contract identified above?
            <helplink></helplink>
            <helptext>
                <p>Complete the form with information from the most recently completed prevailing wage survey for that job/contract. If the employerused more than three sources, attach an additional sheet labeled “Item 9 Prevailing Wage Determination” and provide theinformation obtained from all sources. (For information on Prevailing Wages, see Fact Sheet #39B: Prevailing Wages andCommensurate Wages under Section 14(c) of the FLSA.)</p>
                <p>The source employers surveyed should be located in the geographic area from which the labor force of the applicant is drawn. The sources for the jobs surveyed should use similar methods and equipment as the job for which this rate will apply. The wage rate collected from each source should be the hourly rate paid to experienced (not entry level) workers who do not have disabilities that affect productive capacity. An experienced worker is a worker who has learned the basic requirements of the work to be performed, ordinarily by completion of a probationary or training period. Typically, an experienced worker will have received at least one pay raise after successful completion of the probationary or training period.</p>
                <p>The prevailing wage rate determined from the surveys may be calculated by using a weighted or straight average, but the same method should be used to calculate all of the employer’s prevailing wage rates.</p>
                <p>If conducting surveys is not practical and the employer instead uses U.S. Bureau of Labor Statistics (BLS) or alternative wage rates, identify the alternative source used (e.g., BLS Occupational Employment Survey; BLS Current Population Survey), the prevailing wage, the job classification (if applicable) provided by the source, and the date that the data was obtained. BLS wage data can be found at www.bls.gov/bls/blswage.htm. Data from employment services may only be used to determine prevailing wages if the data provides wage rates of experienced workers not disabled for the work being performed; entry level wage data may not be used.</p>
            </helptext>
        </div>
        <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.prevailingWageMethod')">{{ validate(modelPrefix() + '.prevailingWageMethod') }}</span>
        <fieldset class="usa-fieldset-inputs form-question-answer">
            <legend class="usa-sr-only">Prevailing Wage Method</legend>

            <ul class="usa-unstyled-list">
                <li ng-repeat="response in responses.PrevailingWageMethod">
                    <input id="wagemethod_{{ response.id }}" type="radio" name="wage-method" ng-value="response.id" ng-model="formData[modelPrefix()].prevailingWageMethodId">
                    <label for="wagemethod_{{ response.id }}">{{ response.display }}</label>
                </li>
            </ul>
        </fieldset>
    </div>

    <div class="form-question-group em-block" ng-show="formData[modelPrefix()].prevailingWageMethodId === 24">
        <div class="form-question-block">
            <div class="form-question-text">Provide information for the most recent Prevailing Wage survey conducted for the job or contract indentified above:</div>
            <div class="form-question-answer">
                <div ng-class="validate(modelPrefix() + '.mostRecentPrevailingWageSurvey.prevailingWageDetermined') ? 'usa-input-error' : ''">
                    <label for="prevailingWageDetermined">Prevailing Wage Determined based on this survey</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.mostRecentPrevailingWageSurvey.prevailingWageDetermined')">{{ validate(modelPrefix() + '.mostRecentPrevailingWageSurvey.prevailingWageDetermined') }}</span>
                    <input id="prevailingWageDetermined" name="prevailingWageDetermined" type="number" class="wage-rate" min="0" step="0.01" ng-model="formData[modelPrefix()].mostRecentPrevailingWageSurvey.prevailingWageDetermined">
                </div>
                <label>You must provide <strong>3</strong> Source Employers for the survey
                    <helplink></helplink>
                    <helptext>
                        <p>The source employers surveyed should be located in the geographic area from which the labor force of the applicant is drawn. The sources for the jobs surveyed should use similar methods and equipment as the job for which this rate will apply.</p>
                        <p>The wage rate collected from each source should be the hourly rate paid to experienced (not entry level) workers who do not have disabilities that affect productive capacity.</p>
                        <p>An experienced worker is a worker who has learned the basic requirements of the work to be performed, ordinarily by completion of a probationary or training period. Typically, an experienced worker will have received at least one pay raise after successful completion of the probationary or training period.</p>
                    </helptext>
                </label>
                <div ng-show="vm.addingEmployer">
                    <hr>
                    <div ng-class="vm.validateActiveSourceEmployerProperty('employerName') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerName">Source Employer Name</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('employerName')">{{ vm.validateActiveSourceEmployerProperty('employerName') }}</span>
                        <input id="sourceEmployerName" name="sourceEmployerName" type="text" ng-model="vm.activeSourceEmployer.employerName">
                    </div>

                    <form class="usa-form-large">
                        <fieldset>
                            <div ng-class="vm.validateActiveSourceEmployerProperty('address.streetAddress') ? 'usa-input-error' : ''">
                                <label for="mailing-address-1">Street address</label>
                                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('address.streetAddress')">{{ vm.validateActiveSourceEmployerProperty('address.streetAddress') }}</span>
                                <input id="mailing-address-1" name="mailing-address-1" type="text" ng-model="vm.activeSourceEmployer.address.streetAddress">
                            </div>

                          <!--<label for="mailing-address-2">Street address 2 <span class="usa-additional_text">Optional</span></label>
                          <input id="mailing-address-2" name="mailing-address-2" type="text">-->

                          <div class="clearer" ng-class="vm.validateActiveSourceEmployerProperty('address.city') || vm.validateActiveSourceEmployerProperty('address.state') ? 'usa-input-error' : ''">
                            <div class="usa-input-grid usa-input-grid-medium">
                              <label for="city">City</label>
                              <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('address.city')">{{ vm.validateActiveSourceEmployerProperty('address.city') }}</span>
                              <input id="city" name="city" type="text" ng-model="vm.activeSourceEmployer.address.city">
                            </div>

                            <div class="usa-input-grid usa-input-grid-small">
                              <label for="state">State</label>
                              <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('address.state')">{{ vm.validateActiveSourceEmployerProperty('address.state') }}</span>
                              <select id="state" name="state" ng-model="vm.activeSourceEmployer.address.state">
                                <option value></option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                <option value="AS">American Samoa</option>
                                <option value="GU">Guam</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="VI">Virgin Islands</option>
                              </select>
                            </div>
                          </div>

                          <div ng-class="vm.validateActiveSourceEmployerProperty('address.zipCode') ? 'usa-input-error' : ''">
                              <label for="zip">ZIP</label>
                              <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('address.zipCode')">{{ vm.validateActiveSourceEmployerProperty('address.zipCode') }}</span>
                              <input class="usa-input-medium" id="zip" name="zip" type="text" mask="99999-?9?9?9?9?" pattern="[\d]{5}(-[\d]{4})?" data-grouplength="5,4" data-delimiter="-" data-politespace  ng-model="vm.activeSourceEmployer.address.zipCode">
                          </div>
                        </fieldset>
                    </form>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('phone') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerPhone">Telephone Number</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('phone')">{{ vm.validateActiveSourceEmployerProperty('phone') }}</span>
                        <input id="sourceEmployerPhone" name="sourceEmployerPhone" type="text" mask="999-999-9999" class="phoneno" ng-model="vm.activeSourceEmployer.phone">
                    </div>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('contactName') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerContactName">Full Name of Individual Contacted</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('contactName')">{{ vm.validateActiveSourceEmployerProperty('contactName') }}</span>
                        <input id="sourceEmployerContactName" name="sourceEmployerContactName" type="text" ng-model="vm.activeSourceEmployer.contactName">
                    </div>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('contactTitle') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerContactTitle">Title of Individual Contacted</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('contactTitle')">{{ vm.validateActiveSourceEmployerProperty('contactTitle') }}</span>
                        <input id="sourceEmployerContactTitle" name="sourceEmployerContactTitle" type="text" ng-model="vm.activeSourceEmployer.contactTitle">
                    </div>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('contactDate') ? 'usa-input-error' : ''">
                        <label>Date of Contact</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('contactDate')">{{ vm.validateActiveSourceEmployerProperty('contactDate') }}</span>
                        <fieldset>
                            <date-field date-val="vm.activeSourceEmployer.contactDate" />
                        </fieldset>
                    </div>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('jobDescription') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerJobDescription">Brief Description of Job/Task</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('jobDescription')">{{ vm.validateActiveSourceEmployerProperty('jobDescription') }}</span>
                        <input id="sourceEmployerJobDescription" name="sourceEmployerJobDescription" type="text" ng-model="vm.activeSourceEmployer.jobDescription">
                    </div>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('experiencedWorkerWageProvided') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerWage">Experience Worker Wage Provided</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('experiencedWorkerWageProvided')">{{ vm.validateActiveSourceEmployerProperty('experiencedWorkerWageProvided') }}</span>
                        <input id="sourceEmployerWage" name="sourceEmployerWage" type="number" class="wage-rate" min="0" step="0.01" ng-model="vm.activeSourceEmployer.experiencedWorkerWageProvided">
                    </div>

                    <div ng-class="vm.validateActiveSourceEmployerProperty('conclusionWageRateNotBasedOnEntry') ? 'usa-input-error' : ''">
                        <label for="sourceEmployerBasis">Basis for Conclusion Wage Rate is Not Based on Entry</label>
                        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveSourceEmployerProperty('conclusionWageRateNotBasedOnEntry')">{{ vm.validateActiveSourceEmployerProperty('conclusionWageRateNotBasedOnEntry') }}</span>
                        <input id="sourceEmployerBasis" name="sourceEmployerBasis" type="text" ng-model="vm.activeSourceEmployer.conclusionWageRateNotBasedOnEntry">
                    </div>

                    <div class="form-spaced-div" ng-show="vm.addingEmployer">
                        <button class="grey-button" ng-click="vm.cancelAddSourceEmployer()">Cancel</button><span class="pull-right"><button class="green-button" ng-click="vm.addSourceEmployer()">Save Source Employer</button></span>
                    </div>
                    <hr>
                </div>
                <div ng-class="validate(modelPrefix() + '.sourceEmployers_count') ? 'usa-input-error' : ''">
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.sourceEmployers_count')">{{ validate(modelPrefix() + '.sourceEmployers_count') }}</span>
                    <button ng-click="vm.addingEmployer = true" ng-hide="vm.addingEmployer">Add a Source Employer</button>
                </div>
                <table class="usa-table-borderless" ng-show="formData[modelPrefix()].mostRecentPrevailingWageSurvey.sourceEmployers.length">
                    <thead>
                        <tr>
                            <th scope="col">Work Site Name</th>
                            <th scope="col">Experienced Wage Provided</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employer in formData[modelPrefix()].mostRecentPrevailingWageSurvey.sourceEmployers">
                            <th scope="row">
                                <div ng-class="vm.validateSourceEmployer($index) ? 'usa-input-error' : ''">
                                    <span class="usa-input-error-message" role="alert" ng-show="vm.validateSourceEmployer($index)">Please review this employer</span>
                                    {{ employer.employerName }}
                                </div>
                            </th>
                            <td>${{ employer.experiencedWorkerWageProvided }}</td>
                            <td class="button-column"><button class="green-button" ng-click="vm.editSourceEmployer($index)">Edit</button><button class="usa-button-secondary" ng-click="vm.deleteSourceEmployer($index)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <label>If needed, attach an additional sheet headed "Prevailing Wage Determination-{{ paytype === 'hourly' ? 'Hourly' : 'Piece Rate'}}"</label>
                <attachment-field attachment-id="formData[modelPrefix()].mostRecentPrevailingWageSurvey.attachmentId" attachment-name="formData[modelPrefix()].mostRecentPrevailingWageSurvey.attachmentName" />
            </div>
        </div>
    </div>

    <div class="form-question-group em-block" ng-show="formData[modelPrefix()].prevailingWageMethodId === 25">
        <div class="form-question-block">
            <div class="form-question-text">Provide the alternate wage data source used and the prevailing wage provided by that source:
                <helplink></helplink>
                <helptext>
                    <p>If conducting surveys is not practical and the employer instead uses U.S. Bureau of Labor Statistics (BLS) or alternative wage rates, identify the alternative source used (e.g., BLS Occupational Employment Survey; BLS Current Population Survey), the prevailing wage, the job classification (if applicable) provided by the source, and the date that the data was obtained.</p>
                    <p>BLS wage data can be found at <a href="www.bls.gov/bls/blswage.htm">www.bls.gov/bls/blswage.htm</a>.</p>
                    <p>Data from employment services may only be used to determine prevailing wages if the data provides wage rates of experienced workers not disabled for the work being performed; entry level wage data may not be used.</p>
                </helptext>
            </div>
            <label>Examples of alternate sources include U.S. Bureau of Labor Statistics (BLS) or private or State employment services data.
            <div class="form-question-answer">
                <div ng-class="validate(modelPrefix() + '.alternateWageData.alternateWorkDescription') ? 'usa-input-error' : ''">
                    <label for="alternateWorkDescription">Description of Work (include job classification code, if known)</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.alternateWageData.alternateWorkDescription')">{{ validate(modelPrefix() + '.alternateWageData.alternateWorkDescription') }}</span>
                    <textarea id="alternateWorkDescription" name="alternateWorkDescription" ng-model="formData[modelPrefix()].alternateWageData.alternateWorkDescription"></textarea>
                </div>

                <div ng-class="validate(modelPrefix() + '.alternateWageData.alternateDataSourceUsed') ? 'usa-input-error' : ''">
                    <label for="alternateDataSourceUsed">Alternate data source used </label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.alternateWageData.alternateDataSourceUsed')">{{ validate(modelPrefix() + '.alternateWageData.alternateDataSourceUsed') }}</span>
                    <input id="alternateDataSourceUsed" name="alternateDataSourceUsed" type="text" ng-model="formData[modelPrefix()].alternateWageData.alternateDataSourceUsed">
                </div>

                <div ng-class="validate(modelPrefix() + '.alternateWageData.prevailingWageProvidedBySource') ? 'usa-input-error' : ''">
                    <label for="prevailingWageProvidedBySource">Prevailing wage provided by source</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.alternateWageData.prevailingWageProvidedBySource')">{{ validate(modelPrefix() + '.alternateWageData.prevailingWageProvidedBySource') }}</span>
                    <input id="prevailingWageProvidedBySource" name="prevailingWageProvidedBySource" type="number" class="wage-rate" min="0" step="0.01" ng-model="formData[modelPrefix()].alternateWageData.prevailingWageProvidedBySource">
                </div>

                <div ng-class="validate(modelPrefix() + '.alternateWageData.dataRetrieved') ? 'usa-input-error' : ''">
                    <label>Date data retrieved</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.alternateWageData.dataRetrieved')">{{ validate(modelPrefix() + '.alternateWageData.dataRetrieved') }}</span>
                    <fieldset>
                        <date-field date-val="formData[modelPrefix()].alternateWageData.dataRetrieved" />
                        <label class="example">Example: 04 30 2016</label>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>

    <div class="form-question-group em-block" ng-show="formData[modelPrefix()].prevailingWageMethodId === 26">
        <div class="form-question-block" ng-class="validate(modelPrefix() + '.scaWageDeterminationAttachmentId') ? 'usa-input-error' : ''">
            <div class="form-question-text">Attach the applicable SCA Wage Determination
                <helplink></helplink>
                <helptext>
                    <p>If conducting surveys is not practical and the employer instead uses U.S. Bureau of Labor Statistics (BLS) or alternative wage rates, identify the alternative source used (e.g., BLS Occupational Employment Survey; BLS Current Population Survey), the prevailing wage, the job classification (if applicable) provided by the source, and the date that the data was obtained.</p>
                    <p>BLS wage data can be found at <a href="www.bls.gov/bls/blswage.htm">www.bls.gov/bls/blswage.htm</a>.</p>
                    <p>Data from employment services may only be used to determine prevailing wages if the data provides wage rates of experienced workers not disabled for the work being performed; entry level wage data may not be used.</p></helptext>
            </div>
            <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.scaWageDeterminationAttachmentId')">{{ validate(modelPrefix() + '.scaWageDeterminationAttachmentId') }}</span>
            <attachment-field attachment-id="formData[modelPrefix()].scaWageDeterminationAttachmentId" attachment-name="formData[modelPrefix()].scaWageDeterminationAttachmentName" />
        </div>
    </div>

    <div class="form-question-group" ng-show="paytype === 'hourly'">
        <div class="form-question-block" ng-class="validate(modelPrefix() + '.workMeasurementFrequency') ? 'usa-input-error' : ''">
            <div class="form-question-text">
                How frequently does the employer conduct work measurements or time studies of each worker with a disability who is paid an hourly subminimum wage?
                <helplink></helplink>
                <helptext>Indicate how frequently the employer conducts work measurements or time studies of each worker with a disability who is paid anhourly subminimum wage.</helptext>
            </div>
            <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.workMeasurementFrequency')">{{ validate(modelPrefix() + '.workMeasurementFrequency') }}</span>
            <div class="form-question-answer">
                <input id="workMeasurementFrequency" name="workMeasurementFrequency" type="text" ng-model="formData[modelPrefix()].workMeasurementFrequency">
            </div>
        </div>

        <div class="form-question-block" ng-class="validate(modelPrefix() + '.attachmentId') ? 'usa-input-error' : ''">
            <div class="form-question-text">
                Attach a work measurement or time study for ONE currently employed worker with a disability who is paid an hourly subminimum wage for the contract identified above.
                <helplink></helplink>
                <helptext>Select one time study for a worker who was paid an hourly subminimum wage under the same job/contract reflected in Item 9(b). The time study provided must be the most recent time study conducted for that worker. The hourly rate time study providedshould include the productivity rating and evaluation forms used to determine the employee’s commensurate wage rate. The documentation should include all materials related to the work measurement, such as:
                    <ul>
                        <li>detailed task analysis (including quality and quantity measures),</li>
                        <li>wage and productivity of an experienced worker who is not disabled for the work performing the same job(i.e., "standard setter"), and</li>
                        <li>determination of the worker’s individual productivity.</li>
                    </ul>
                </helptext>
            </div>
            <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.attachmentId')">{{ validate(modelPrefix() + '.attachmentId') }}</span>
            <attachment-field attachment-id="formData[modelPrefix()].attachmentId" attachment-name="formData[modelPrefix()].attachmentName" />
        </div>
    </div>

    <div class="form-question-group" ng-show="paytype === 'piecerate'">
        <div class="form-question-block">
            <div class="form-question-text">Provide the following information for the job or contract identified above:
                <helplink></helplink>
                <helptext>Provide a current piece rate work measurement or time study for the job/contract reflected in the prevailing wage survey provided in Item 11(b). Provide the description of the job tasks, the hourly prevailing wage for the job, the standard productivity (units per hour), and the piece rate paid to workers (rate per unit).</helptext>
            </div>
            <div class="form-question-answer">
                <div ng-class="validate(modelPrefix() + '.pieceRateWorkDescription') ? 'usa-input-error' : ''">
                    <label for="pieceRateWorkDescription">Descripton of Work</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.pieceRateWorkDescription')">{{ validate(modelPrefix() + '.pieceRateWorkDescription') }}</span>
                    <input id="pieceRateWorkDescription" name="pieceRateWorkDescription" type="text" ng-model="formData[modelPrefix()].pieceRateWorkDescription">
                </div>

                <div ng-class="validate(modelPrefix() + '.prevailingWageDeterminedForJob') ? 'usa-input-error' : ''">
                    <label for="prevailingWageDeterminedForJob">Prevailing Wage Determined for This Job</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.prevailingWageDeterminedForJob')">{{ validate(modelPrefix() + '.prevailingWageDeterminedForJob') }}</span>
                    <input id="prevailingWageDeterminedForJob" name="prevailingWageDeterminedForJob" type="number" class="wage-rate sidelabeled" min="0" step="0.01" ng-model="formData[modelPrefix()].prevailingWageDeterminedForJob"> <label>rate per hour</label>
                </div>

                <div ng-class="validate(modelPrefix() + '.standardProductivity') ? 'usa-input-error' : ''">
                    <label for="standardProductivity">Standard Productivity</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.standardProductivity')">{{ validate(modelPrefix() + '.standardProductivity') }}</span>
                    <input id="standardProductivity" name="standardProductivity" type="number" class="wage-rate sidelabeled" min="0" step="0.01" ng-model="formData[modelPrefix()].standardProductivity"> <label>units per hour</label>
                </div>

                <div ng-class="validate(modelPrefix() + '.pieceRatePaidToWorkers') ? 'usa-input-error' : ''">
                    <label for="pieceRatePaidToWorkers">Piece Rate Paid to Workers</label>
                    <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.pieceRatePaidToWorkers')">{{ validate(modelPrefix() + '.pieceRatePaidToWorkers') }}</span>
                    <input id="pieceRatePaidToWorkers" name="pieceRatePaidToWorkers" type="number" class="wage-rate sidelabeled" min="0" step="0.01" ng-model="formData[modelPrefix()].pieceRatePaidToWorkers"> <label>rate per unit</label>
                </div>
            </div>
        </div>

        <div class="form-question-block" ng-class="validate(modelPrefix() + '.attachmentId') ? 'usa-input-error' : ''">
            <div class="form-question-text">Attach all documents of the methods used to determine the standard productivity and the piece rate.
                <helplink></helplink>
                <helptext>Attach all documentation of the methods used to determine the standard productivity and the piece rate, such as:
                    <ul>
                        <li>detailed task analysis (including quality and quantity measures), and</li>
                        <li>productivity of an experienced worker who is not disabled for the work performing the same job (i.e., "standard setter").</li>
                    </ul>
                </helptext>
            </div>
            <span class="usa-input-error-message" role="alert" ng-show="validate(modelPrefix() + '.attachmentId')">{{ validate(modelPrefix() + '.attachmentId') }}</span>
            <div class="form-question-answer">
                <span>Examples include detailed task analysis(including quality and quantity measures), and productivity of an experienced worker who is not disabled for the work performing the same job (i.e. "standard setter").</span>
                <attachment-field attachment-id="formData[modelPrefix()].attachmentId" attachment-name="formData[modelPrefix()].attachmentName" />
            </div>
        </div>
    </div>
</div>
