
<div class="usa-alert usa-alert-error" role="alert" ng-show="vm.forgotPasswordError">
    <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">An error occurred while connecting to the server. Please try again later if the error persists.</p>
    </div>
</div>

<div class="usa-alert usa-alert-success" role="alert" ng-show="vm.forgotPasswordSuccess">
    <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Email Sent</h3>
        <p class="usa-alert-text">If your the email address matches our records, you should recieve an email with a link to reset your password.</p>
    </div>
</div>

<div class="usa-alert usa-alert-error" role="alert" ng-show="vm.resetPasswordError">
    <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">An error occurred while reseting your password.
            <ul ng-show="resetPasswordErrors.length > 0">
                <li ng-repeat="error in resetPasswordErrors">{{error}}</li>
            </u>
        </p>
    </div>
</div>

<div class="usa-alert usa-alert-success" role="alert" ng-show="vm.resetPasswordSuccess">
    <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Password Reset</h3>
        <p class="usa-alert-text">Your password has be reset.  Please <a href="/">Login</a> with your new password.</p>
    </div>
</div>

<form ng-submit="onSubmitClick()" ng-show="!vm.isResetPasswordVerificationRequest">
    <h2>Forgot Password</h2>
    <div ng-class="vm.forgotPasswordError ? 'usa-input-error' : ''">
        <label for="userName">Email</label>
        <input name="userName" id="userName" type="email" placeholder="Email" ng-model="formVals.email" />
    </div>
    <div><button type="submit">Email Reset Link</button></div>
</form>

<form ng-submit="onVerifySubmitClick()" ng-show="vm.isResetPasswordVerificationRequest">
    <h2>Reset Password</h2>
    <div ng-class="vm.resetPasswordError ? 'usa-input-error' : ''">
        <label for="newPass">New Password</label>
        <input type="password" name="newPass" id="newPass" placeholder="New Password" ng-model="formVals.newPass" />
    </div>
    <div ng-class="vm.resetPasswordError ? 'usa-input-error' : ''">
        <label for="confirmPass">Confirm Password</label>
        <input type="password" name="confirmPass" id="confirmPass" placeholder="Confirm Password" ng-model="formVals.confirmPass" />
    </div>
    <div><button type="submit">Reset Password</button></div>
</form>