<form ng-submit="onSubmitClick()" ng-show="!vm.isResetPasswordVerificationRequest">
    <h2>Forgot Password</h2>
    <div>
        <label for="userName">Email</label>
        <input name="userName" id="userName" type="email" placeholder="Email" ng-model="formVals.email" />
    </div>
    <div class="loginbtn"><button type="submit">Email Reset Link</button></div>
</form>
<form ng-submit="onVerifySubmitClick()" ng-show="vm.isResetPasswordVerificationRequest">
    <h2>Reset Password</h2>
    <div>
        <label for="newPass">New Password</label>
        <input type="password" name="newPass" id="newPass" placeholder="New Password" ng-model="formVals.newPass" />
    </div>
    <div>
        <label for="confirmPass">Confirm Password</label>
        <input type="password" name="confirmPass" id="confirmPass" placeholder="Confirm Password" ng-model="formVals.confirmPass" />
    </div>
    <div class="loginbtn"><button type="submit">Reset Password</button></div>
    
</form