<div class="usa-grid">
    <div class="usa-width-one-half">
        <form ng-submit="onSubmitClick()" ng-show="!vm.isResetPasswordVerificationRequest">
            <h2>Forgot Password</h2>
            <div class="usa-alert usa-alert-error" role="alert" ng-show="vm.forgotPasswordError">
                <div class="usa-alert-body">
                    <h3 class="usa-alert-heading">Error</h3>
                    <p class="usa-alert-text">An error occurred while connecting to the server. Please try again later if the error persists.</p>
                </div>
            </div>
            <div class="usa-alert usa-alert-success" role="alert" ng-show="vm.forgotPasswordSuccess">
                <div class="usa-alert-body">
                    <h3 class="usa-alert-heading">Email Sent</h3>
                    <p class="usa-alert-text">If the email address you entered matches our records, you will receive an email with a link to reset your password.</p>
                </div>
            </div>       
            <div ng-class="vm.forgotPasswordError ? 'usa-input-error' : ''">
                <label for="userName">Email</label>
                <input name="userName" id="userName" type="email" placeholder="Email" ng-model="formVals.email" />
            </div>
            <div><button type="submit">Send Email</button></div>
        </form>

        <form ng-submit="onVerifySubmitClick()" ng-show="vm.isResetPasswordVerificationRequest">
            <h2>Reset Password</h2>
            <div class="usa-alert usa-alert-error" role="alert" ng-show="vm.resetPasswordError">
                <div class="usa-alert-body">
                    <h3 class="usa-alert-heading">Error</h3>
                    <p class="usa-alert-text">An error occurred while resetting your password. Please try again later if the error persists.</p>
                </div>
            </div>            
            <div class="usa-alert usa-alert-success" role="alert" ng-show="vm.resetPasswordSuccess">
                <div class="usa-alert-body">
                    <h3 class="usa-alert-heading">Password Reset</h3>
                    <p class="usa-alert-text">Your password has be reset. Please <a href="/">Login</a> with your new password.</p>
                </div>
            </div>                 
            <div class="usa-alert" ng-class="vm.passwordComplexity ? 'usa-alert-error' : 'usa-alert-info'" ng-show="vm.showPasswordHelp">
                <div class="usa-alert-body"> 
                <h3 class="usa-alert-heading">Passwords must</h3>
                <p class="usa-alert-text">
                    <ul class="usa-unstyled-list">
                        <li><span class="checkmark" ng-class="vm.passwordLength ? 'checked' : ''"></span>Contain at least 8 characters.</li>
                        <li><span class="checkmark" ng-class="vm.passwordUpper ? 'checked' : ''"></span>Contain at least 1 uppercase leter.</li>
                        <li><span class="checkmark" ng-class="vm.passwordLower ? 'checked' : ''"></span>Contain at least 1 lowercase leter.</li>
                        <li><span class="checkmark" ng-class="vm.passwordSpecial ? 'checked' : ''"></span>Contain at least 1 special character.</li>
                        <li><span class="checkmark" ng-class="vm.passwordNumber ? 'checked' : ''"></span>Contain at least 1 number.</li>
                        <li><span class="checkmark" ng-class="passwordStrength.score > 2 ? 'checked' : ''"></span>Meets “Good” password strength.</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div ng-class="vm.resetPasswordError ? 'usa-input-error' : ''">
                <label for="registerPassword">Password</label>
                <span class="usa-input-error-message" id="input-error-message" role="alert" ng-show="vm.resetPasswordError">
                    <ul ng-show="resetPasswordErrors.length > 0" class="usa-unstyled-list">
                        <li ng-repeat="error in resetPasswordErrors">{{error}}</li>
                    </ul>                    
                </span>
                <input type="{{inputType}}" name="registerPassword" id="registerPassword" placeholder="Password" ng-model="formVals.newPass" ng-focus="vm.showPasswordHelp=true" ng-blur="vm.showPasswordHelp=false" />
                <meter max="4" id="password-strength-meter" value="{{passwordStrength.score}}"></meter>
                <div ng-switch="passwordStrength.score">Password Strength: 
                        <span ng-switch-when="0"></span>
                        <span ng-switch-when="1">Weak</span>
                        <span ng-switch-when="2">Fair</span>
                        <span ng-switch-when="3">Good</span>
                        <span ng-switch-when="4">Strong</span>
                    <div class="showpass">
                        <a href="" ng-click="hideShowPassword()" ng-focus="vm.showPasswordHelp=true" ng-blur="vm.showPasswordHelp=false"><span ng-show="inputType != 'password'">Hide</span><span ng-show="inputType === 'password'">Show</span> Password</a>
                    </div>
                </div>
            </div>
            <div ng-class="vm.resetPasswordError ? 'usa-input-error' : ''">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" ng-model="formVals.confirmPass" ng-focus="vm.showPasswordHelp=true" ng-blur="vm.showPasswordHelp=false" />
            </div>
            <div><button type="submit">Reset Password</button></div>
        </form>
    </div>
</div>