<h2>Change password:</h2>
<div ng-if="stateService.user.passwordExpired" class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Password Expired</h3>
    <p class="usa-alert-text">Your password has expired, please change it.</p>
  </div>
</div>
<div class="usa-alert usa-alert-error" role="alert" ng-show="vm.changePasswordError">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Error</h3>
    <p class="usa-alert-text">An error occurred while changing your password.
      <ul ng-show="changePasswordErrors.length > 0">
        <li ng-repeat="error in changePasswordErrors">{{error}}</li>
      </ul>
    </p>
  </div>
</div>
<div class="usa-alert usa-alert-success" role="alert" ng-show="vm.changePasswordSuccess">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Password Changed</h3>
    <p class="usa-alert-text">Your password has been changed. Please <a href="#" ng-click="vm.logOut($event)">Login</a> with your new password.</p>
  </div>
</div>

<div ng-if="!stateService.user.email" ng-class="vm.changePasswordError ? 'usa-input-error' : ''">
  <label for="userName">Email</label>
  <input name="userName" id="userName" type="email" placeholder="Email" ng-model="formVals.email" />
</div>
<div ng-class="vm.changePasswordError ? 'usa-input-error' : ''">
  <label for="password">Current Password</label>
  <input type="password" name="password" id="password" placeholder="Current Password" ng-model="formVals.currentPass" />
</div>
<div ng-class="vm.changePasswordError ? 'usa-input-error' : ''">
  <label for="newPass">New Password</label>
  <input type="password" name="newPass" id="newPass" placeholder="New Password" ng-model="formVals.newPass" />
</div>
<div ng-class="vm.changePasswordError ? 'usa-input-error' : ''">
  <label for="confirmPass">Confirm Password</label>
  <input type="password" name="confirmPass" id="confirmPass" placeholder="Confirm Password" ng-model="formVals.confirmPass" />
</div>
<div>
  <button type="submit" ng-click="onSubmitClick()">Change Password</button>
</div>
