<header role="header" class="dol-header-form">
    <h1>Section 14(c) Certificate Application</h1>

    <nav>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="" ng-click="vm.userClick()">{{ vm.stateService.user.email ? vm.stateService.user.email : "Username" }}</a></li>
            <li><a href="" ng-click="vm.saveClick()">Sign Out</a></li>
        </ul>
    </nav>
</header>
<div class="dol-applicant-meta">
    <div class="dol-applicant-ein">
        Applicant EIN: <span>{{ vm.stateService.ein ? vm.stateService.ein : "XX-XXXXXXX" }}</span>
    </div>

    <div class="dol-feedback-save">
        <span class="dol-feedback-save-success" ng-show="vm.stateService.formData.lastSaved > 0">
            Saved {{vm.stateService.formData.lastSaved  | amUtc | amLocal | amDateFormat:'MM/DD/YYYY, h:mm A'}}
        </span>
        <span class="dol-feedback-save-error" ng-show="vm.stateService.formData.lastSaved === 0">
            Error Saving Form
        </span>
    </div>
</div>
<div class="dol-form-meta">
    <div class="usa-content">
        <p>Application for Authority to Employ Workers with Disabilities at Subminimum Wages</p>
    </div>

    <div class="dol-form-omb">
        <p>OMB NO: 1235-0001</p>
        <p>REV XX/20XX</p>
    </div>
</div>
<main-navigation-control></main-navigation-control>
