@include nested(12) {

    div.login {
        background-color: #f0f0f0;
        width: 350px;
        padding:20px;
        margin-bottom: 30px;
    }

    div.showpass {
        float: right;
    }

    div.loginbtn {
        padding-top: 50px;
    }

    div.forgotpass {
        padding-top: 30px;
    }

    div.regcapt {
        padding-top: 30px;
    }

    div.regbtn {
        padding-top: 30px;
    }

    div.createAcct {
        width: 46rem;
    }

    .password-wrap.usa-input-error {
        margin-top: 0px;
    }
}
