@include nested(12) {

    div.login {
        background-color: #f0f0f0;
        width: 350px;
        padding:20px;
        margin-bottom: 30px;
    }

    div.showpass {
        float: right;
    }

    div.loginbtn {
        padding-top: 50px;
    }

    div.forgotpass {
        padding-top: 30px;
    }

    div.regcapt {
        padding-top: 30px;
    }

    div.regbtn {
        padding-top: 30px;
    }

    div.createAcct {
        width: 46rem;
    }

    .password-wrap.usa-input-error {
        margin-top: 0px;
    }
}

meter {
  margin: 0 auto 1em;
  width: 100%;
  height: 15px;

  /* Applicable only to Firefox */
  background: none;
  background-color: #F3F3F3;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: #F3F3F3;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: #990000; }
meter[value="2"]::-webkit-meter-optimum-value { background: #E7D32C; }
meter[value="3"]::-webkit-meter-optimum-value { background: #224687; }
meter[value="4"]::-webkit-meter-optimum-value { background: #187D35; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: #990000; }
meter[value="2"]::-moz-meter-bar { background: #E7D32C; }
meter[value="3"]::-moz-meter-bar { background: #224687; }
meter[value="4"]::-moz-meter-bar { background: #187D35; }


.checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;

    &.checked {
        background-image: url('../images/correct9.png');
        background-size: contain;
        vertical-align: middle;
    }
}