@import "defaults";
@import "~uswds/src/stylesheets/all";
@import "~susy/sass/susy";
@import "bourbon";
@import "globals";
@import "forms";
@import "modules/formFooterControls";
@import "modules/mainNavigationControl";
@import "modules/mainHeaderControl";
@import "modules/reviewSectionControl";
@import "loginReg";

$susy: (
    columns: 12,
    container: 1200px,
    global-box-sizing: border-box
);

.full-view {
    @include container;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@include nested(12) {

    .main-content {
        position: relative;
        @include span(12);
        margin-top: 40px;
    }

}
