<header role="header" class="dol-header-form">
  <div>
    <h1>Section 14(c) Certificate Application</h1>
  </div>
  <div class="dol-omb-header">
    <p>OMB NO: 1235-0001</p>
    <p>EXPIRES: 12/31/2019</p>
    <p>REV 12/2017</p>
  </div>
  <nav>
    <ul>
      <li><a href="#" ng-click="vm.dashboardClick($event)">Dashboard</a></li>
      <li><a href="#" ng-click="vm.userClick($event)">Account</a></li>
      <li><a href="#" ng-click="vm.helpClick($event)">Help</a></li>
      <li><a href="#" ng-click="vm.saveClick($event)">Sign Out</a></li>
    </ul>
  </nav>
</header>
