<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationDbContext" connectionString="server=localhost;user id=postgres;password=Password1!;database=DOLSection14c" providerName="Npgsql" />-->
   
    <!-- Adding Devert DB2 -->
    <add name="ApplicationDbContext" connectionString="Server=localhost:50000;Database=dolsec14;UID=db2admin;PWD=!QAZ2wsx#EDC4rfv" providerName="Devart.Data.DB2" />
    <add name="ApplicationLogContext" connectionString="Server=localhost:50000;Database=dollogs;UID=db2admin;PWD=!QAZ2wsx#EDC4rfv;Current Schema=dbo;" providerName="Devart.Data.DB2" />
  </connectionStrings>
  <appSettings>
    <add key="FrontEndBaseUrl" value="http://localhost:3333" />
    <add key="UserLockoutEnabledByDefault" value="true" />
    <add key="DefaultAccountLockoutTimeSpan" value="15" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="3" />
    <add key="EmailVeriryAndPaswordRestTokenExpireHours" value="6 " />
    <add key="PasswordExpirationDays" value="90" /> <!-- Number of days before user password expires. A value of 0 disables password expiration -->
    <add key="AccessTokenExpireTimeSpanMinutes" value="20160" /> <!-- 14 days -->
    <add key="ReCaptchaVerfiyUrl" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="ReCaptchaSecretKey" value="6LeqeggUAAAAAEY5KpgWZGkOHnkyQXmiSKg7tqsY" /> <!-- If key is not provided, server-side ReCaptcha validation is disabled -->
    <add key="AttachmentRepositoryRootFolder" value="C:\temp\DOL-WHD-Section14c-Attachments\" />
    <add key="AllowedFileNamesRegex" value="^(.*\.(doc|docx|xls|xlsx|pdf|jpg|jpeg|png)$)?[^.]*$" />
    <add key="RequireHttps" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10240" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@dol.gov">
        <network host="localhost" port="25" userName="myemail@domain.com" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
		  <add name="NLog" type="NLog.Web.NLogHttpModule, NLog.Web" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Devart.Data.DB2" type="Devart.Data.DB2.Entity.DB2EntityProviderServices, Devart.Data.DB2.Entity.EF6, Version=2.2.348.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <!--<provider invariantName="IBM.Data.DB2" type="IBM.Data.DB2.EntityFramework.DB2ProviderServices, IBM.Data.DB2.EntityFramework, Version=10.5.5.6, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />-->
    
    </providers>
    <!--<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />-->  
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
      <remove invariant="Devart.Data.DB2" />
      <add name="dotConnect for DB2" invariant="Devart.Data.DB2" description="Devart dotConnect for DB2" type="Devart.Data.DB2.DB2ProviderFactory, Devart.Data.DB2, Version=2.2.348.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <extensions> 
    <add assembly="DOL.WHD.Section14c.Log" /> 
    <add assembly="NLog.Web" /> 
  </extensions> 
    <targets>       
       <target xsi:type="Database" name="apiactivitylog" dbProvider="Devart.Data.DB2" connectionStringName="ApplicationLogContext" commandText="INSERT INTO DBO.&quot;APIActivityLogs&quot;(&quot;EIN&quot;, &quot;Message&quot;, &quot;Level&quot;, &quot;LogTime&quot;, &quot;User&quot;, &quot;UserId&quot;, &quot;Exception&quot;, &quot;StackTrace&quot;) VALUES ( @ein, @Message, @level, @LogTime, @userName, @userId, @apiException, @apiStackTrace);">   
        <parameter name="@Message" layout="${Message}" />
        <parameter name="@level" layout="${level:uppercase=true}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@exception" layout="${exception}" />
        <parameter name="@ein" layout="${api-log:Name=EIN}" />
        <parameter name="@apiException" layout="${api-log:Name=Exception}" />
        <parameter name="@apiStackTrace" layout="${api-log:Name=StackTrace}" />
        <parameter name="@LogTime" layout="${date}" />
        <parameter name="@userId" layout="${api-log:Name=UserId}" />
        <parameter name="@userName" layout="${api-log:Name=UserName}" />   
        <parameter name="@serverName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
        <parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}" />      
      </target>
      <target xsi:type="Database" name="apierrorlog" dbProvider="Devart.Data.DB2" connectionStringName="ApplicationLogContext" commandText="INSERT INTO DBO.&quot;APIErrorLogs&quot;(&quot;EIN&quot;, &quot;Message&quot;, &quot;Level&quot;, &quot;LogTime&quot;, &quot;User&quot;, &quot;UserId&quot;, &quot;Exception&quot;, &quot;StackTrace&quot;) VALUES ( @ein, @Message, @level, @LogTime, @userName, @userId, @apiException, @apiStackTrace);">   
        <parameter name="@Message" layout="${Message}" />
        <parameter name="@level" layout="${level:uppercase=true}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@exception" layout="${exception}" />
        <parameter name="@ein" layout="${api-log:Name=EIN}" />
        <parameter name="@apiException" layout="${api-log:Name=Exception}" />
        <parameter name="@apiStackTrace" layout="${api-log:Name=StackTrace}" />
        <parameter name="@LogTime" layout="${date}" />
        <parameter name="@userId" layout="${api-log:Name=UserId}" />
        <parameter name="@userName" layout="${api-log:Name=UserName}" /> <!-- "${aspnet-user-identity}"--> 
        <parameter name="@serverName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
        <parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}" />      
      </target>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILogs/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
    </targets>
    <rules>
      <logger name="*" maxlevel="Warn" writeTo="apiactivitylog" />
      <logger name="*" minLevel="Error" writeTo="apierrorlog" />
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />           
    </rules>
  </nlog>
</configuration>