<div class="usa-alert usa-alert-error" role="alert" ng-show="vm.loadingError">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Error</h3>
    <p class="usa-alert-text">An error occurred while loading accounts.</p>
  </div>
</div>

<table class="usa-table-borderless" ng-show="accounts.length">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role(s)</th>
      <th scope="col">EIN(s)</th>
      <th scope="col" style="width: 400px">Resend Confirmation Email</th>
      <th scope="col" style="width: 400px">Resend Authentication Code</th>
      <th scope="col" style="width: 400px">Reset Password</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in accounts">
      <td scope="row">{{ account.email }}</td>
      <td scope="row">
        <span ng-repeat="role in account.roles">{{role.name}}{{$last ? '' : ', '}}</span>
      </td>
      <td scope="row">
        <span ng-repeat="organization in account.organizations">{{organization.ein}}{{$last ? '' : ', '}}</span>
      </td>
      <td>
        <button class="green-button" style="width:160px; margin-left: 0px;"
                ng-show="stateService.hasClaim('UserManagement.ModifyAccount')"
                ng-click="toggleModal('resendEmailModalIsVisible')">Resend-Email</button>
      </td>
      <td>
        <button class="green-button" style="width:160px; margin-left: 0px;"
                ng-show="stateService.hasClaim('UserManagement.ModifyAccount')"
                ng-click="toggleModal('resendCodeModalIsVisible')">Resend Code</button>
      </td>
      <td>
        <button class="green-button" style="width:180px; margin-left: 0px;"
                ng-show="stateService.hasClaim('UserManagement.ModifyAccount')"
                ng-click="toggleModal('resetPasswordModalIsVisible')">Reset Password</button>
      </td>
      <td>
        <button class="green-button"
                ng-click="vm.editAccountClick(account.userId)"
                ng-show="stateService.hasClaim('UserManagement.ModifyAccount')">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<div ng-class="{'is-visible': modalIsVisible}" class="modal">
  <header class="cd-panel-header">
    <a ng-click="closeModal()" class="modal-close dol-close-button"></a>
  </header>
  <div ng-show="resendCodeModalIsVisible">
    <button ng-click="closeModal()" class="grey-button">Ok</button><button ng-click="closeModal()" class="grey-button">Cancel</button>
  </div>
  <div ng-show="resendEmailModalIsVisible">
    <button ng-click="closeModal()" class="grey-button">Ok</button><button ng-click="closeModal()" class="grey-button">Cancel</button>
  </div>
  <div ng-show="resetPasswordModalIsVisible">
    <input></input>
    <button ng-click="closeModal()" class="grey-button">Ok</button><button ng-click="closeModal()" class="grey-button">Cancel</button>
  </div>
</div>
<div ng-if="modalIsVisible" class="modal-backdrop"></div>
