<dol-header></dol-header>
<main-top-nav-control></main-top-nav-control>
<div ng-show="registrationSuccess" role="alert" tabindex="0">
  <div  class="dol-feedback-success">
    <p class="dol-feedback-message">
      <strong>You Have Registered an Employer</strong>
    </p>
  </div>
  <p>Your account is now the point of contact for the employer you just registered. </p>
  <p>
    Continue to your <a href="/#!/dashboard">Dashboard</a> to begin a section 14(c) application.
  </p>
  <p>If you have any questions contact us at <a href="mailto:14c-help@dol.gov">14c-help@dol.gov.</a></p>
</div>
<div ng-show="previouslyRegistered.status" role="alert" tabindex="0">
  <div  class="dol-feedback-error">
    <p class="dol-feedback-message">
      <strong>We've run into a problem</strong>
    </p>
  </div>
  <p><strong>This employer already has a registered account.</strong></p>
  <p>Please contact {{previouslyRegistered.name}}, the point of contact for this employer, to request access to the account.</p>
  <p>If you have any questions, you can reach us at <a href="mailto:14c-help@dol.gov">14c-help@dol.gov</a>.</p>
</div>
<div ng-show="registrationError" role="alert" tabindex="0">
  <div  class="dol-feedback-error">
    <p class="dol-feedback-message">
      <strong>We've run into a problem</strong>
    </p>
  </div>
  <p><strong>There was a problem with registering your employer, please try again.</strong></p>
  <p>If you are still experiencing issues, you can reach us at <a href="mailto:14c-help@dol.gov">14c-help@dol.gov</a>.</p>
</div>

<form ng-hide="registrationSuccess || previouslyRegistered.status" ng-submit="onSubmitClick()" class="dol-form-page">
  <fieldset class="dol-form-sub-section">
    <legend><h3>Register an Employer</h3></legend>
    <hr />
    <p>
      Before you can begin the application, please register an employer for this account.
    </p>
    <p>
      All fields are required unless indicated as optional.
    </p>
    <div class="dol-form-question-block" ng-class="validationProperties.hasTradeNameRequired ? 'usa-input-error' : ''">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend class="dol-form-question-text">Has this employer ever previously held a section 14(c) certificate?</legend>
        <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.hasTradeNameRequired">
          Please indicate whether this employer ever previously held a 14(c) certificate.
        </span>
        <ul class="usa-unstyled-list">
          <li>
            <input id="hasTradeName_1" type="radio" name="hasTradeName" aria-describedby="hasTradeNameHelp" ng-value="true" ng-model="formData.employer.hasTradeName">
            <label for="hasTradeName_1">Yes</label>
          </li>
          <li>
            <input id="hasTradeName_0" type="radio" name="hasTradeName" ng-value="false" ng-model="formData.employer.hasTradeName">
            <label for="hasTradeName_0">No</label>
          </li>
        </ul>
      </fieldset>
    </div>
    <div ng-show="formData.employer.hasTradeName" ng-class="validationProperties.certificateNumberRequired || validationProperties.certificateNumberInvalid ? 'usa-input-error' : ''">
        <label for="certificateNumber">What is the most recently held main establishment certificate number?</label>
      <span class="usa-input-error-message" ng-show="validationProperties.certificateNumberRequired">
        Please provide a certificate number for this establishment.
      </span>
      <span class="usa-input-error-message" ng-show="validationProperties.certificateNumberInvalid">
        Please provide a valid certificate number.
      </span>
      <input class="ein sidelabeled" name="certificateNumber" id="certificateNumber" mask="99-99999-A-999" type="text" ng-model="formData.employer.certificateNumber" />
      <span class="example">Example: 12-34567-H-890</span>
    </div>
    <div class="dol-form-question-block" ng-class="validationProperties.legalNameRequired ? 'usa-input-error' : ''">
      <div class="dol-form-question-help">
        <label for="legalName" class="dol-form-question-text" id="legalNameLabel">Legal Name of Employer</label>
      </div>
      <span class="usa-input-error-message" ng-show="validationProperties.legalNameRequired">
        Please provide a legal name for this employer.
      </span>
      <input id="legalName" name="legalName" aria-describedby="legalNameHelp" type="text" ng-model="formData.employer.legalName">
     <span><a role="button" ng-keyup="$event.keyCode === 13 ? toggleAllHelpText() : null" ng-click="toggleAllHelpText()" tabindex="0">What if the Employer's legal name changed since its last application?</a></span><helplink aria-controls="legalNameHelp" aria-describedby="legalNameLabel"></helplink>
      <helptext id="legalNameHelp">
        <p>Use the Employer's legal name as it appeared on the last application.</p>
        <p>You will have an opportunity to update the Employer's legal name when completing your application.</p>
      </helptext>
    </div>

    <div ng-class="validationProperties.einRequired || validationProperties.einInvalid ? 'usa-input-error' : ''">
      <label for="EIN">Federal Employer Identification Number (EIN)</label>
      <span class="usa-input-error-message" ng-show="validationProperties.einRequired">
        EIN is required.
      </span>
      <span class="usa-input-error-message" ng-show="validationProperties.einInvalid">
        Invalid EIN format. Example XX-XXXXXXX
      </span>
      <input class="ein sidelabeled" name="EIN" id="EIN" type="text" mask="99-9999999" ng-model="formData.employer.ein" />
      <span class="example">Example: 00-1234567</span>
    </div>    
    <div class="usa-alert usa-alert-info" ng-show="showEinHelp" role="alert" tabindex="0">
      <div class="usa-alert-body">
        <p class="usa-alert-text">Providing the EIN at registration helps us ensure there is only one account per Employer.</p>
        <p>Additional users can be added once the Employer is registered.</p>
      </div>
    </div>
    <div class="dol-form-question-block">
      <fieldset class="usa-form-large">
        <legend class="dol-form-question-text no-margin">Physical Address of Employer’s Main Establishment</legend>
        <div ng-class="validationProperties.streetAddressRequired ? 'usa-input-error' : ''">
          <label for="mailing-address-1">Street Address</label>
          <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.streetAddressRequired">Please provide a street address.</span>
          <input id="mailing-address-1" name="mailing-address-1" type="text" ng-model="formData.employer.physicalAddress.streetAddress">
        </div>

        <div class="clearer" ng-class="validationProperties.cityRequired || validationProperties.stateRequired ? 'usa-input-error' : ''">
          <div class="usa-input-grid usa-input-grid-medium">
            <label for="city">City</label>
            <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.cityRequired">Please provide a city.</span>
            <input id="city" name="city" type="text" ng-model="formData.employer.physicalAddress.city">
          </div>

          <div class="usa-input-grid usa-input-grid-small">
            <label for="state">State</label>
            <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.stateRequired">Please provide a state.</span>
            <state-field name="state" selected-state="formData.employer.physicalAddress.state"></state-field>
          </div>
        </div>

        <div ng-class="validationProperties.zipCodeRequired || validationProperties.zipCodeInvalid ? 'usa-input-error' : ''">
          <label for="zip">Zip Code</label>
          <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.zipCodeRequired">Please provide a zip code.</span>
          <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.zipCodeInvalid">Please provide a valid zip code.</span>
          <input class="usa-input-medium" id="zip" name="zip" type="text" mask="99999" pattern="[\d]{5}" data-grouplength="5" data-delimiter="" data-politespace ng-model="formData.employer.physicalAddress.zipCode">
        </div>

        <div ng-hide="formData.employer.physicalAddress.state === 'DC' || formData.employer.physicalAddress.state === 'AS' || formData.employer.physicalAddress.state === 'GU' || formData.employer.physicalAddress.state === 'MP' || formData.employer.physicalAddress.state === 'PR' || formData.employer.physicalAddress.state === 'UM' || formData.employer.physicalAddress.state === 'VI'" ng-class="validationProperties.countyRequired ? 'usa-input-error' : ''">
          <label for="county">County</label>
          <span class="usa-input-error-message" role="alert" tabindex="0" ng-show="validationProperties.countyRequired">Please provide a county.</span>
          <input id="county" name="county" type="text" ng-model="formData.employer.physicalAddress.county">
        </div>
      </fieldset>
    </div>
    <button type="submit">Register Employer</button>
</form>
<dol-footer></dol-footer>
