<dol-header></dol-header>
<div class="main-content">
  <div ng-if="!stateService.user.email">
    <div class="dol-landing-public">
      <h1>Section 14(c) Certificate Application</h1>

      <div class="dol-width-one-half">
        <user-login></user-login>
      </div>
      <div class="dol-width-one-half">
        <user-registration-form></user-registration-form>
      </div>
    </div>
  </div>

  <div ng-if="stateService.hasClaim('Application.Submit')">
    <main-top-nav-control></main-top-nav-control>
    <div ng-show="!stateService.applicationStarted()">
      <button class="save-button" onclick="window.location='#/section/assurances';">Start A New Application</button>
    </div>
    <div ng-show="stateService.applicationStarted()">
      <button class="save-button" onclick="window.location='#/section/assurances';">Continue Application</button>
    </div>
  </div>

  <div ng-if="stateService.user.email">
    <a href ng-click="changePassword()" name="Change Password">Change Password</a>
  </div>

  <h2 ng-if="stateService.hasClaim('UserManagement.CreateAccount') || stateService.hasClaim('UserManagement.GetAccounts')">User Management</h2>
  <div ng-if="stateService.hasClaim('UserManagement.CreateAccount')">
    <account-create-button></account-create-button>
  </div>
  <div ng-if="stateService.hasClaim('UserManagement.GetAccounts')">
    <account-grid></account-grid>
  </div>
</div>
