<header role="header" class="dol-header-form">
    <h1>Section 14(c) Certificate Application</h1>

    <nav>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="" ng-click="vm.userClick()">{{ vm.stateService.user.email ? vm.stateService.user.email : "Username" }}</a></li>
            <li><a href="" ng-click="vm.saveClick()">Sign Out</a></li>
        </ul>
    </nav>
</header>

<div class="usa-grid">
  <h2 ng-if="stateService.hasClaim('UserManagement.CreateAccount') || stateService.hasClaim('UserManagement.GetAccounts')">User Management</h2>
  <div ng-if="stateService.hasClaim('UserManagement.CreateAccount')">
    <account-create-button></account-create-button>
  </div>
  <div ng-if="stateService.hasClaim('UserManagement.GetAccounts')">
    <account-grid></account-grid>
  </div>
</div>
