<dol-header></dol-header>

<main tabindex="-1" id="mainContent" role="main" class="main-content">
  <div ng-show="!sessionTimeout">
    <div ng-show="!isEmailVerificationRequest" class="dol-landing-public">
      <h1>Section 14(c) Certificate Application</h1>

      <div class="dol-width-one-half">
        <user-login></user-login>
      </div>
      <div class="dol-width-one-half">
        <user-registration-form></user-registration-form>
      </div>
    </div>
  </div>
  <div class="usa-alert usa-alert-warning" role="alert" tabindex="0" ng-show="sessionTimeout && !isEmailVerificationRequest">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Session Expired</h3>
      <p class="usa-alert-text">You have been logged out of the Section 14(c) Certificate Application due to inactivity. To continue working, please log in again.</p>
      <button ng-click="refresh()">Log In</button>
    </div>
  </div>
  <div ng-show="isEmailVerificationRequest">
    <div class="usa-alert usa-alert-error" role="alert" tabindex="0" ng-show="emailVerificationError">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error</h3>
        <p class="usa-alert-text">An error occurred while verifying email address. Please try again later if the error persists.</p>
      </div>
    </div>

    <div class="usa-alert usa-alert-success" role="alert" tabindex="0" ng-show="emailVerified">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Email Verified</h3>
        <p class="usa-alert-text">Your email address has been verified. You can now <a href="" ng-click="refresh()">log in </a>.</p>
      </div>
    </div>
  </div>
</main>

<dol-footer></dol-footer>
