.dol-footer {
  margin-top: 40px;
  font-family: 
}

.dol-footer--brand {
  background-color: #b54645;
  padding: 8px 16px;
}

.brand {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.brand--img {
  margin-right: 10px;
}

.brand--text {
  color: #fff;
  flex: 1;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

.dol-footer--content {
  background-color: #900;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.dol-footer--content .usa-grid-full {
  max-width: inherit;
}

.dol-footer--content .content-group {
  margin-bottom: 24px;
}

@media (min-width: 50em) {
  .dol-footer--content .content-group {
    margin: 0;
  }
}

.dol-footer--content a {
  color: #fff;
  text-decoration: none;
}

.dol-footer--content a:hover {
  color: #fff;
  text-decoration: underline;
}

.dol-footer--content li {
  line-height: 16px;
  margin-bottom: 5px;
}

.mb1 {
  margin-bottom: 4px;
}
