/*
  misc custom styles needed to reset / override
  existing ones so that UI components can nicely
  show up on one page together
*/

.float-inherit { float: inherit !important; }
.p0 { padding: 0 !important; }
.m0 { margin: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mb2 { margin-bottom: 2rem !important; }
.mb3 { margin-bottom: 3rem !important; }
.mb5 { margin-bottom: 5rem !important; }

.mw-300p { max-width: 300px; }
