<form ng-submit="onSubmitClick()" ng-show="!vm.isEmailVerificationRequest">
  <div class="usa-content">
    <p>We are now accepting Section 14(c) Certificate Applications electronically.</p>
    <ul>
      <li>
        All Employers, including current Certificate Holders, previous
        Certificate Holders, and new applicants, will have to create an
        account in order to submit the form electronically.
      </li>
      <li>The Employer’s EIN is required to create an account.</li>
      <li>Once the Employer’s account is created, additional users can be added.</li>
      <li>This electronic form includes both forms WH-226 and WH-226A.</li>
    </ul>
    <p>Read our <a href="#">FAQs for Electronic Section 14(c) Certificate Application</a>.</p>
  </div>
  <div class="usa-alert usa-alert-success" role="alert" ng-show="vm.accountCreated">
    <div class="usa-alert-body">
      <h2 class="usa-alert-heading">Account Created</h2>
      <p class="usa-alert-text">Your account was created. Please verify that your email address is <strong>{{vm.registerdEmail}}</strong> by visiting the link in the email.</p>
    </div>
  </div>
  <div class="usa-alert usa-alert-error" role="alert" ng-show="vm.generalRegistrationError">
    <div class="usa-alert-body">
      <p class="usa-alert-text">An error occurred while connecting to the server. Please try again later if the error persists.</p>
    </div>
  </div>
  <div class="createAcct">
    <h2>Create an Account</h2>
    <div ng-class="vm.einError || vm.einRequired || vm.invalidEin ? 'usa-input-error' : ''">
      <label for="EIN">Employer Identification Number (EIN)</label>
      <span class="usa-input-error-message" id="input-error-message" role="alert" ng-show="vm.einError || vm.einRequired || vm.invalidEin">
        <div ng-show="vm.einError">
          <p>The EIN you provided is already registerd. Please contact the account admin for access.</p>
          <p>If you do not know the account admin, contact our office at 000-123-4567</p>
        </div>
        <div ng-show="vm.einRequired">
          <p>EIN is required.</p>
        </div>
        <div ng-show="vm.invalidEin">
          <p>Invalid EIN format. Example XX-XXXXXXX</p>
        </div>
      </span>
      <input class="ein sidelabeled" name="EIN" id="EIN" type="text" mask="99-9999999" ng-model="formVals.ein" />
      <span class="example">Example: XX-XXXXXXX</span>
      <a class="dol-additional-info" href ng-click="vm.toggleEinHelp()">Why do you need an EIN to create an account?</a>
    </div>
    <div class="usa-alert usa-alert-info" ng-show="vm.showEinHelp">
      <div class="usa-alert-body">
        <p class="usa-alert-text">Providing the EIN at registration helps us ensure there is only one account per Employer.</p>
        <p>Additional users can be added once the Employer is registered.</p>
      </div>
    </div>
    <div ng-class="vm.emailAddressError || vm.emailAddressRequired ? 'usa-input-error' : ''">
      <label for="registerEmail">Email Address</label>
      <span class="usa-input-error-message" id="input-error-message" role="alert" ng-show="vm.emailAddressError">
        <p>The email you provided is already registred.</p>
        <p>If you forgot your password, you can <a href>reset it here</a></p>
      </span>
      <span class="usa-input-error-message" id="input-error-message" role="alert" ng-show="vm.emailAddressRequired">
        <p>Email address is required.</p>
      </span>
      <input type="email" name="registerEmail" id="registerEmail" ng-model="formVals.email" />
    </div>
    <div class="usa-alert" ng-class="vm.passwordComplexity ? 'usa-alert-error' : 'usa-alert-info'" ng-show="vm.showPasswordHelp  || vm.passwordComplexity">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Passwords must</h3>
        <p class="usa-alert-text">
          <ul class="usa-unstyled-list">
            <li><span class="checkmark" ng-class="vm.passwordLength ? 'checked' : ''"></span>Contain at least 8 characters.</li>
            <li><span class="checkmark" ng-class="vm.passwordUpper ? 'checked' : ''"></span>Contain at least 1 uppercase leter.</li>
            <li><span class="checkmark" ng-class="vm.passwordLower ? 'checked' : ''"></span>Contain at least 1 lowercase leter.</li>
            <li><span class="checkmark" ng-class="vm.passwordSpecial ? 'checked' : ''"></span>Contain at least 1 special character.</li>
            <li><span class="checkmark" ng-class="vm.passwordNumber ? 'checked' : ''"></span>Contain at least 1 number.</li>
            <li><span class="checkmark" ng-class="passwordStrength.score > 2 ? 'checked' : ''"></span>Meets “Good” password strength</li>
          </ul>
        </p>
      </div>
    </div>
    <div ng-class="vm.passwordRequired || vm.passwordsDontMatch || vm.passwordComplexity ? 'usa-input-error' : ''">
      <label for="registerPassword">Password</label>
      <span class="usa-input-error-message" id="input-error-message" role="alert" ng-show="vm.passwordRequired || vm.passwordsDontMatch">
        <div ng-show="vm.passwordRequired">
          <p>Password is required.</p>
        </div>
        <div ng-show="vm.passwordsDontMatch">
          <p>Passwords do not match.</p>
        </div>
      </span>
      <input type="{{inputType}}" name="registerPassword" id="registerPassword" ng-model="formVals.pass" ng-focus="vm.showPasswordHelp=true" ng-blur="vm.showPasswordHelp=false" />
      <div class="dol-password-help">
        <div class="usa-content">
          <meter max="4" id="password-strength-meter" value="{{passwordStrength.score}}"></meter>
          <div ng-switch="passwordStrength.score">Password Strength:
            <span ng-switch-when="0"></span>
            <span ng-switch-when="1">Weak</span>
            <span ng-switch-when="2">Fair</span>
            <span ng-switch-when="3">Good</span>
            <span ng-switch-when="4">Strong</span>
          </div>
          <div class="showpass">
            <a href="" ng-click="hideShowPassword()" ng-focus="vm.showPasswordHelp=true" ng-blur="vm.showPasswordHelp=false">
              <span ng-show="inputType != 'password'">Hide</span>
              <span ng-show="inputType === 'password'">Show</span> Password
            </a>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="vm.passwordRequired || vm.passwordsDontMatch || vm.passwordComplexity ? 'usa-input-error' : ''">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" ng-model="formVals.confirmPass" ng-focus="vm.showPasswordHelp=true" ng-blur="vm.showPasswordHelp=false" />
    </div>
    <div class="regbtn">
      <button type="submit" ng-show="!vm.submittingForm">Register</button>
      <button type="button" ng-show="vm.submittingForm" class='usa-button-active'>
        <span class="loading-blue" ng-show="vm.submittingForm"></span>Loading
      </button>
    </div>
  </div>
</form>

<div ng-show="vm.isEmailVerificationRequest">
  <div class="usa-alert usa-alert-error" role="alert" ng-show="vm.emailVerificationError">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Error</h3>
      <p class="usa-alert-text">An error occurred while verifying email address. Please try again later if the error persists.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-success" role="alert" ng-show="vm.emailVerified">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Email Verified</h3>
      <p class="usa-alert-text">Your email address has been verified. You can now log in using the email address and password you chose for your account.</a>.</p>
    </div>
  </div>
</div>
