<div class="dol-form-section-title">
  <h2>Employer</h2>

  <div class="dol-form-section-help">
    <ul>
      <li><a role="button" ng-click="vm.toggleAllHelpText()" tabindex="0">Show Help for All Items</a></li>
    </ul>
  </div>
</div>

<div class="usa-alert usa-alert-error" role="alert" ng-show="validate('__employer')">
  <div class="usa-alert-body">
    <p class="usa-alert-text">Please review this page. There are errors or missing information that we need to collect before you can submit the form.</p>
  </div>
</div>

<div class="form-page">
  <h3>Employer Information</h3>
  <hr />
  <div class="form-question-block" ng-class="validate('employer.legalName') ? 'usa-input-error' : ''">
    <div class="form-question-text">Legal Name of Employer
      <helplink></helplink>
      <helptext id="legalNameHelp">Provide the full legal and trade name(s) of the employer, and previous name, if applicable. SWEPs should enter the identifying information for the school that is applying for the certificate.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.legalName')">{{ validate('employer.legalName') }}</span>
    <div class="form-question-answer">
      <label for="legalName" class="hide">Legal name of employer</label>
      <input id="legalName" name="legalName" aria-describedby="legalNameHelp" type="text" ng-model="formData.employer.legalName">
    </div>
  </div>
  <div class="form-question-block" ng-class="validate('employer.hasTradeName') ? 'usa-input-error' : ''">
    <div class="form-question-text">Does the Employer have a Trade Name?
      <helplink></helplink>
      <helptext id="hasTradeNameHelp">Provide the full legal and trade name(s) of the employer, and previous name, if applicable. SWEPs should enter the identifying information for the school that is applying for the certificate.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.hasTradeName')">{{ validate('employer.hasTradeName') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Has trade name?</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="hasTradeName_1" type="radio" name="hasTradeName" aria-describedby="hasTradeNameHelp" ng-value="true" ng-model="formData.employer.hasTradeName">
          <label for="hasTradeName_1">Yes</label>
        </li>
        <li>
          <input id="hasTradeName_0" type="radio" name="hasTradeName" ng-value="false" ng-model="formData.employer.hasTradeName">
          <label for="hasTradeName_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div ng-show="formData.employer.hasTradeName === true" ng-class="validate('employer.tradeName') ? 'usa-input-error' : ''">
    <div class="form-question-text">Trade Name</div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.tradeName')">{{ validate('employer.tradeName') }}</span>
    <div class="form-question-answer">
      <label for="tradeName" class="hide">Trade name</label>
      <input id="tradeName" name="tradeName" type="text" ng-model="formData.employer.tradeName">
    </div>
  </div>
  <div class="form-question-block" ng-class="validate('employer.legalNameHasChanged') ? 'usa-input-error' : ''">
    <div class="form-question-text">Has the Employer’s name(s) changed since its last application?
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.legalNameHasChanged')">{{ validate('employer.legalNameHasChanged') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Employer name change?</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="legalNameHasChanged_1" type="radio" name="legalNameHasChanged" ng-value="true" ng-model="formData.employer.legalNameHasChanged">
          <label for="legalNameHasChanged_1">Yes</label>
        </li>
        <li>
          <input id="legalNameHasChanged_0" type="radio" name="legalNameHasChanged" ng-value="false" ng-model="formData.employer.legalNameHasChanged">
          <label for="legalNameHasChanged_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div ng-show="formData.employer.legalNameHasChanged === true" ng-class="validate('employer.priorLegalName') ? 'usa-input-error' : ''">
    <div class="form-question-text">Prior Legal Name(s) of Employer</div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.priorLegalName')">{{ validate('employer.priorLegalName') }}</span>
    <div class="form-question-answer">
      <label for="priorLegalName" class="hide">Prior legal name(s) of employer</label>
      <input id="priorLegalName" name="priorLegalName" type="text" ng-model="formData.employer.priorLegalName">
    </div>
  </div>
  <div class="form-question-block">
    <div class="form-question-text">Physical Address of Employer’s Main Establishment</div>
    <fieldset class="usa-form-large">
      <legend class="hide">Physical address</legend>
      <div ng-class="validate('employer.physicalAddress.streetAddress') ? 'usa-input-error' : ''">
        <label for="mailing-address-1">Street Address</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.physicalAddress.streetAddress')">{{ validate('employer.physicalAddress.streetAddress') }}</span>
        <input id="mailing-address-1" name="mailing-address-1" type="text" ng-model="formData.employer.physicalAddress.streetAddress">
      </div>

      <div class="clearer" ng-class="validate(['employer.physicalAddress.city', 'employer.physicalAddress.state']) ? 'usa-input-error' : ''">
        <div class="usa-input-grid usa-input-grid-medium">
          <label for="city">City</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.physicalAddress.city')">{{ validate('employer.physicalAddress.city') }}</span>
          <input id="city" name="city" type="text" ng-model="formData.employer.physicalAddress.city">
        </div>

        <div class="usa-input-grid usa-input-grid-small">
          <label for="state">State</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.physicalAddress.state')">{{ validate('employer.physicalAddress.state') }}</span>
          <state-field name="state" selected-state="formData.employer.physicalAddress.state"></state-field>
        </div>
      </div>

      <div ng-class="validate('employer.physicalAddress.zipCode') ? 'usa-input-error' : ''">
        <label for="zip">Zip Code</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.physicalAddress.zipCode')">{{ validate('employer.physicalAddress.zipCode') }}</span>
        <input class="usa-input-medium" id="zip" name="zip" type="text" mask="99999-?9?9?9?9?" pattern="[\d]{5}(-[\d]{4})?" data-grouplength="5,4" data-delimiter="-" data-politespace ng-model="formData.employer.physicalAddress.zipCode">
      </div>

      <div class="usa-input-grid usa-input-grid-medium" ng-class="validate('employer.physicalAddress.county') ? 'usa-input-error' : ''">
        <label for="county">County</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.physicalAddress.county')">{{ validate('employer.physicalAddress.county') }}</span>
        <input id="county" name="county" type="text" ng-model="formData.employer.physicalAddress.county">
      </div>

      <div class="usa-input-grid usa-input-grid-large">
        <input id="hasMailingAddress" type="checkbox" name="hasMailingAddress" value="true" ng-model="formData.employer.hasMailingAddress">
        <label for="hasMailingAddress">Mailing Address is different from Physical Address</label>
      </div>
    </fieldset>
  </div>

  <div class="form-question-block" ng-show="formData.employer.hasMailingAddress === true">
    <div class="form-question-text">Mailing Address of Employer’s Main Establishment</div>
    <fieldset>
      <legend class="hide">Mailing address</legend>
      <div class="usa-form-large">
        <div ng-class="validate('employer.mailingAddress.streetAddress') ? 'usa-input-error' : ''">
          <label for="mailingAddressStreet">Street Address</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.mailingAddress.streetAddress')">{{ validate('employer.mailingAddress.streetAddress') }}</span>
          <input id="mailingAddressStreet" name="mailingAddressStreet" type="text" ng-model="formData.employer.mailingAddress.streetAddress">
        </div>

        <div class="clearer" ng-class="validate(['employer.mailingAddress.city', 'employer.mailingAddress.state']) ? 'usa-input-error' : ''">
          <div class="usa-input-grid usa-input-grid-medium">
            <label for="mailingAddressCity">City</label>
            <span class="usa-input-error-message" role="alert" ng-show="validate('employer.mailingAddress.city')">{{ validate('employer.mailingAddress.city') }}</span>
            <input id="mailingAddressCity" name="mailingAddressCity" type="text" ng-model="formData.employer.mailingAddress.city">
          </div>

          <div class="usa-input-grid usa-input-grid-small">
            <label for="mailingAddressState">State</label>
            <span class="usa-input-error-message" role="alert" ng-show="validate('employer.mailingAddress.state')">{{ validate('employer.mailingAddress.state') }}</span>
            <state-field name="mailingAddressState" selected-state="formData.employer.mailingAddress.state"></state-field>
          </div>
        </div>

        <div ng-class="validate('employer.mailingAddress.zipCode') ? 'usa-input-error' : ''">
          <label for="mailingAddressZipCode">Zip Code</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.mailingAddress.zipCode')">{{ validate('employer.mailingAddress.zipCode') }}</span>
          <input class="usa-input-medium" id="mailingAddressZipCode" name="mailingAddressZipCode" type="text" mask="99999-?9?9?9?9?" pattern="[\d]{5}(-[\d]{4})?" data-grouplength="5,4" data-delimiter="-" data-politespace ng-model="formData.employer.mailingAddress.zipCode">
        </div>

        <div ng-class="validate('employer.mailingAddress.county') ? 'usa-input-error' : ''">
          <label for="mailingAddressCounty">County</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.mailingAddress.county')">{{ validate('employer.mailingAddress.county') }}</span>
          <input id="mailingAddressCounty" name="mailingAddressCounty" type="text" ng-model="formData.employer.mailingAddress.county">
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-question-block" ng-class="validate('employer.hasParentOrg') ? 'usa-input-error' : ''">
    <div class="form-question-text">Does the Employer have a Parent Organization?
      <helplink></helplink>
      <helptext id="hasParentOrgHelp">SWEPs should enter the school district’s information in Item 4.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.hasParentOrg')">{{ validate('employer.hasParentOrg') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Has parent organization?</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="hasParentOrg_1" type="radio" name="hasParentOrg" aria-describedby="hasParentOrgHelp" ng-value="true" ng-model="formData.employer.hasParentOrg">
          <label for="hasParentOrg_1">Yes</label>
        </li>
        <li>
          <input id="hasParentOrg_0" type="radio" name="hasParentOrg" aria-describedby="hasParentOrgHelp" ng-value="false" ng-model="formData.employer.hasParentOrg">
          <label for="hasParentOrg_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div class="form-question-block">
    <fieldset ng-show="formData.employer.hasParentOrg === true">
      <legend class="hide">Parent legal name</legend>
      <div ng-class="validate('employer.parentLegalName') ? 'usa-input-error' : ''">
        <label for="parentLegalName">Legal Name</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.parentLegalName')">{{ validate('employer.parentLegalName') }}</span>
        <input id="parentLegalName" name="parentLegalName" type="text" ng-model="formData.employer.parentLegalName">
      </div>

      <label for="parentTradename">Trade Name</label>
      <input id="parentTradename" name="parentTradename" type="text" ng-model="formData.employer.parentTradename">

      <div class="usa-form-large">
        <div ng-class="validate('employer.parentAddress.streetAddress') ? 'usa-input-error' : ''">
          <label for="parentAddressStreet">Street Address</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.parentAddress.streetAddress')">{{ validate('employer.parentAddress.streetAddress') }}</span>
          <input id="parentAddressStreet" name="parentAddressStreet" type="text" ng-model="formData.employer.parentAddress.streetAddress">
        </div>

        <div class="clearer" ng-class="validate(['employer.parentAddress.city', 'employer.parentAddress.state']) ? 'usa-input-error' : ''">
          <div class="usa-input-grid usa-input-grid-medium">
            <label for="parentAddressCity">City</label>
            <span class="usa-input-error-message" role="alert" ng-show="validate('employer.parentAddress.city')">{{ validate('employer.parentAddress.city') }}</span>
            <input id="parentAddressCity" name="parentAddressCity" type="text" ng-model="formData.employer.parentAddress.city">
          </div>

          <div class="usa-input-grid usa-input-grid-small">
            <label for="parentAddressState">State</label>
            <span class="usa-input-error-message" role="alert" ng-show="validate('employer.parentAddress.state')">{{ validate('employer.parentAddress.state') }}</span>
            <state-field name="parentAddressState" selected-state="formData.employer.parentAddress.state"></state-field>
          </div>
        </div>

        <div ng-class="validate('employer.parentAddress.zipCode') ? 'usa-input-error' : ''">
          <label for="parentAddressZipCode">Zip Code</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.parentAddress.zipCode')">{{ validate('employer.parentAddress.zipCode') }}</span>
          <input class="usa-input-medium" id="parentAddressZipCode" name="parentAddressZipCode" type="text" mask="99999-?9?9?9?9?" pattern="[\d]{5}(-[\d]{4})?" data-grouplength="5,4" data-delimiter="-" data-politespace ng-model="formData.employer.parentAddress.zipCode">
        </div>

        <div ng-class="validate('employer.parentAddress.county') ? 'usa-input-error' : ''">
          <label for="parentAddressCounty">County</label>
          <span class="usa-input-error-message" role="alert" ng-show="validate('employer.parentAddress.county')">{{ validate('employer.parentAddress.county') }}</span>
          <input id="parentAddressCounty" name="parentAddressCounty" type="text" ng-model="formData.employer.parentAddress.county">
        </div>

        <input id="sendMailToParent" type="checkbox" name="sendMailToParent" value="true" ng-model="formData.employer.sendMailToParent">
        <label for="sendMailToParent">Check if mail should be sent here</label>
      </div>

    </fieldset>
  </div>

  <div class="form-question-block" ng-class="validate(['employer.employerStatusId', 'employer.employerStatusOther']) ? 'usa-input-error' : ''">
    <div class="form-question-text">Employer Status
      <helplink></helplink>
      <helptext id="employerStatusHelp">Select the option that describes the employer’s status. For example, a SWEP operated by a public school system should select “Public.”</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.employerStatusId')">{{ validate('employer.employerStatusId') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Employer status</legend>
      <ul class="usa-unstyled-list">
        <li ng-repeat="response in responses.EmployerStatus">
          <input id="paytype_{{ response.id }}" type="radio" name="employerStatus" aria-describedby="employerStatusHelp" ng-value="response.id" ng-model="formData.employer.employerStatusId">
          <label for="paytype_{{ response.id }}">{{ response.display }}</label>
        </li>
      </ul>
      <span class="usa-input-error-message" role="alert" ng-show="validate('employer.employerStatusOther')">{{ validate('employer.employerStatusOther') }}</span>
      <label for="employerStatusOther" class="hide">Employer status other</label>
      <input id="employerStatusOther" name="employerStatusOther" type="text" ng-model="formData.employer.employerStatusOther">
    </fieldset>
  </div>
  <div class="form-question-block" ng-class="validate('employer.isEducationalAgency') ? 'usa-input-error' : ''">
    <div class="form-question-text">Is this employer a local or State educational agency?
      <helplink></helplink>
      <helptext id="isEducationalAgencyHelp">The term “local educational agency” means a public board of education or other public authority legally constituted within a State for either administrative control or direction of, or to perform a service function for, public elementary schools or secondary schools in a city, county, township, school district, or other political subdivision of a State, or of or for a combination of school districts or counties that is recognized in a State as an administrative agency for its public elementary schools or secondary schools. The term “State educational agency” means the agency primarily responsible for the State supervision of public elementary schoolsand secondary schools. See 20 U.S.C. 7801, the Elementary and Secondary Education Act of 1965.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.isEducationalAgency')">{{ validate('employer.isEducationalAgency') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Is educational agency?</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="isEducationalAgency_1" type="radio" name="isEducationalAgency" aria-describedby="isEducationalAgencyHelp" ng-value="true" ng-model="formData.employer.isEducationalAgency">
          <label for="isEducationalAgency_1">Yes</label>
        </li>
        <li>
          <input id="isEducationalAgency_0" type="radio" name="isEducationalAgency" aria-describedby="isEducationalAgencyHelp" ng-value="false" ng-model="formData.employer.isEducationalAgency">
          <label for="isEducationalAgency_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div ng-show="vm.notInitialApp()">
    <h3>Number of Workers With Disabilities</h3>
    <hr />
    <div class="form-question-block" ng-class="validate('employer.fiscalQuarterEndDate') ? 'usa-input-error' : ''">
      <div class="form-question-text">When did the Employer’s most recently completed fiscal quarter end?
        <helplink></helplink>
        <helptext id="fiscalQuarterEndDateHelp">Provide the ending date of the employer’s most recently completed three-month fiscal quarter. For example, if the fiscal year begins on January 1, provide the date of the most recently completed quarter (March 31, June 30, September 30, or December 31).</helptext>
      </div>
      <span class="usa-input-error-message" role="alert" ng-show="validate('employer.fiscalQuarterEndDate')">{{ validate('employer.fiscalQuarterEndDate') }}</span>
      <fieldset>
        <legend class="hide">Fiscal quarter end date</legend>
        <date-field date-val="formData.employer.fiscalQuarterEndDate"></date-field>
      </fieldset>
    </div>
    <div class="form-question-block" ng-class="validate('employer.numSubminimalWageWorkers.total') ? 'usa-input-error' : ''">
      <div class="form-question-text">What is the total number of workers with disabilities employed at subminimum wages during the most recently completed fiscal quarter at all establishments and work sites?
        <helplink></helplink>
        <helptext id="numSubminimalWageWorkersTotalHelp">Provide the total number of workers with disabilities who were paid subminimum wages at all establishments and work sites during the most recently completed fiscal quarter. Include workers who were employed for less than the full fiscal quarter, i.e. three-month period.</helptext>
      </div>
      <span class="usa-input-error-message" role="alert" ng-show="validate('employer.numSubminimalWageWorkers.total')">{{ validate('employer.numSubminimalWageWorkers.total') }}</span>
      <div class="form-question-answer">
        <input id="numSubminimalWageWorkersTotal" name="numSubminimalWageWorkersTotal" aria-describedby="numSubminimalWageWorkersTotalHelp" type="number" class="numeric7" min="0" step="1" ng-model="formData.employer.numSubminimalWageWorkers.total">
      </div>
    </div>
    <div class="form-question-block">
      <div class="form-question-text">Provide the number of workers with disabilities employed at subminimum wages for the most recently completed fiscal quarter in each of the following categories:
        <helplink></helplink>
        <helptext id="numSubminimalWageWorkersWorkCenterHelp">Provide the number of workers with disabilities for the same period employed at subminimum wages in the specified categories. Refer to the definitions provided in the instructions for Item 2(a).</helptext>
      </div>
      <div ng-class="validate('employer.numSubminimalWageWorkers.workCenter') ? 'usa-input-error' : ''">
        <label for="numSubminimalWageWorkersWorkCenter">Community Rehabilitation Program (Work Center)</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.numSubminimalWageWorkers.workCenter')">{{ validate('employer.numSubminimalWageWorkers.workCenter') }}</span>
        <div class="form-question-answer">
          <input id="numSubminimalWageWorkersWorkCenter" name="numSubminimalWageWorkersWorkCenter" aria-describedby="numSubminimalWageWorkersWorkCenterHelp" type="number" class="numeric7" min="0" step="1" ng-model="formData.employer.numSubminimalWageWorkers.workCenter">
        </div>
      </div>
      <div ng-class="validate('employer.numSubminimalWageWorkers.patientWorkers') ? 'usa-input-error' : ''">
        <label for="numSubminimalWageWorkersPatientWorkers">Hospital/Residential Care Facility (Patient Workers)</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.numSubminimalWageWorkers.patientWorkers')">{{ validate('employer.numSubminimalWageWorkers.patientWorkers') }}</span>
        <div class="form-question-answer">
          <input id="numSubminimalWageWorkersPatientWorkers" name="numSubminimalWageWorkersPatientWorkers" type="number" class="numeric7" min="0" step="1" ng-model="formData.employer.numSubminimalWageWorkers.patientWorkers">
        </div>
      </div>
      <div ng-class="validate('employer.numSubminimalWageWorkers.swep') ? 'usa-input-error' : ''">
        <label for="numSubminimalWageWorkersSWEP">School Work Experience Program (SWEP)</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.numSubminimalWageWorkers.swep')">{{ validate('employer.numSubminimalWageWorkers.swep') }}</span>
        <div class="form-question-answer">
          <input id="numSubminimalWageWorkersSWEP" name="numSubminimalWageWorkersSWEP" type="number" class="numeric7" min="0" step="1" ng-model="formData.employer.numSubminimalWageWorkers.swep">
        </div>
      </div>
      <div ng-class="validate('employer.numSubminimalWageWorkers.businessEstablishment') ? 'usa-input-error' : ''">
        <label for="numSubminimalWageWorkersBusinessEstablishment">Business Establishment</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.numSubminimalWageWorkers.businessEstablishment')">{{ validate('employer.numSubminimalWageWorkers.businessEstablishment') }}</span>
        <div class="form-question-answer">
          <input id="numSubminimalWageWorkersBusinessEstablishment" name="numSubminimalWageWorkersBusinessEstablishment" type="number" class="numeric7" min="0" step="1" ng-model="formData.employer.numSubminimalWageWorkers.businessEstablishment">
        </div>
      </div>
    </div>
  </div>
  <h3>Government Contracts</h3>
  <hr />
  <div class="form-question-block" ng-class="validate('employer.pca') ? 'usa-input-error' : ''">
    <div class="form-question-text">Does this employer manufacture items for the Federal Government under the Walsh-Healey Public Contracts Act (PCA)?
      <helplink></helplink>
      <helptext id="PCAHelp">Make the appropriate selection if the employer has, or intends to receive, any contracts with the Federal Government subject to the Walsh-Healey Public Contracts Act (PCA). Additional information about contracts with the Federal Government can be found at <a href="www.dol.gov/whd/govcontracts/">www.dol.gov/whd/govcontracts/</a>.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.pca')">{{ validate('employer.pca') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">PCA?</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="PCA_1" type="radio" name="PCA" aria-describedby="PCAHelp" ng-value="true" ng-model="formData.employer.pca">
          <label for="PCA_1">Yes</label>
        </li>
        <li>
          <input id="PCA_0" type="radio" name="PCA" aria-describedby="PCAHelp" ng-value="false" ng-model="formData.employer.pca">
          <label for="PCA_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div class="form-question-block" ng-class="validate('employer.scaId') ? 'usa-input-error' : ''">
    <div class="form-question-text">Does this employer currently hold any contracts covered by the McNamara-O’Hara Service Contract Act (SCA)?
      <helplink></helplink>
      <helptext id="SCAHelp">Make the appropriate selection if the employer has, or intends to receive, any contracts with the McNamara-O’Hara Service Contract Act (SCA). If the employer had one or more SCA-covered. Additional information about contracts with the Federal Government can be found at <a href="www.dol.gov/whd/govcontracts/">www.dol.gov/whd/govcontracts/</a>.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.scaId')">{{ validate('employer.scaId') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">SCA?</legend>
      <ul class="usa-unstyled-list">
        <li ng-repeat="response in responses.SCA">
          <input id="SCA_{{ response.id }}" type="radio" name="SCA" aria-describedby="SCAHelp" ng-value="response.id" ng-model="formData.employer.scaId">
          <label for="SCA_{{ response.id }}">{{ response.display }}</label>
        </li>
      </ul>
    </fieldset>
    <div ng-show="formData.employer.scaId == 11">
      <div ng-class="validate('employer.scaCount') ? 'usa-input-error' : ''">
        <label for="scaCount">What is the total number of current SCA-covered contracts under which workers with disabilities are employed and earning subminimum wages?</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.scaCount')">{{ validate('employer.scaCount') }}</span>
        <div class="form-question-answer">
          <input id="scaCount" name="scaCount" type="number" class="numeric7" min="0" step="1" ng-model="formData.employer.scaCount">
        </div>
      </div>
      <div ng-class="validate('employer.SCAAttachment') ? 'usa-input-error' : ''">
        <label for="SCAAttachment">Attach copies of all current SCA Wage Determinations for those contracts on which workers with disabilities are employed and earning subminimum wage.</label>
        <span class="usa-input-error-message" role="alert" ng-show="validate('employer.scaAttachmentId')">{{ validate('employer.SCAAttachment') }}</span>
        <attachment-field attachment-id="formData.employer.scaAttachmentId" attachment-name="formData.employer.scaAttachmentName" />
      </div>
    </div>
  </div>
  <div class="form-question-block" ng-class="validate('employer.eo13658Id') ? 'usa-input-error' : ''">
    <div class="form-question-text">Since January 1, 2015, has this employer entered into a contract for services or concessions with the Federal Government that may be subject to Executive Order 13658 (Establishing a Minimum Wage for Contractors)?
      <helplink></helplink>
      <helptext id="EO13658Help">Make the appropriate selection if the employer has, or intends to receive, any contracts with the Federal Government subject to Executive Order 13658, Establishing a Minimum Wage for Contractors. Section 14(c) workers performing on or in connection with a contract covered by Executive Order 13658 are generally entitled to be paid at least the Executive Order minimum wage. Additional information about contracts with the Federal Government can be found at <a href="www.dol.gov/whd/govcontracts/">www.dol.gov/whd/govcontracts/</a>.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.eo13658Id')">{{ validate('employer.eo13658Id') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Subject to EO13658?</legend>
      <ul class="usa-unstyled-list">
        <li ng-repeat="response in responses.EO13658">
          <input id="EO13658_{{ response.id }}" type="radio" name="EO13658" aria-describedby="EO13658Help" ng-value="response.id" ng-model="formData.employer.eo13658Id">
          <label for="EO13658_{{ response.id }}">{{ response.display }}</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <h3>Additional Questions</h3>
  <hr />
  <div class="form-question-block" ng-class="validate('employer.representativePayee') ? 'usa-input-error' : ''">
    <div class="form-question-text">Was the employer a representative payee for any worker with disabilities and, as such, received Social Security Benefits such as Supplemental Security Income (SSI) or Social Security Disability Insurance (SSDI) on behalf of that employee during the most recently completed fiscal quarter?
      <helplink></helplink>
      <helptext id="representativePayeeHelp">If the employer was a representative payee for any worker with disabilities who received Social Security benefits during the most recently completed fiscal quarter, provide the total number of employees for whom the employer was the representative payee.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.representativePayee')">{{ validate('employer.representativePayee') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Representative payee</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="representativePayee_1" type="radio" name="representativePayee" aria-describedby="representativePayeeHelp" ng-value="true" ng-model="formData.employer.representativePayee">
          <label for="representativePayee_1">Yes</label>
        </li>
        <li>
          <input id="representativePayee_0" type="radio" name="representativePayee" aria-describedby="representativePayeeHelp" ng-value="false" ng-model="formData.employer.representativePayee">
          <label for="representativePayee_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="form-question-block" ng-show="formData.employer.representativePayee === true" ng-class="validate('employer.totalDisabledWorkers') ? 'usa-input-error' : ''">
    <div class="form-question-text">Total number of workers with disabilities for whom the facility was a representative payee during the most recently completed fiscal quarter?</div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.totalDisabledWorkers')">{{ validate('employer.totalDisabledWorkers') }}</span>
    <div class="form-question-answer">
      <input id="totalDisabledWorkers" name="totalDisabledWorkers" type="number" class="numeric3" min="0" step="1" ng-model="formData.employer.totalDisabledWorkers">
    </div>
  </div>

  <div class="form-question-block" ng-class="validate('employer.takeCreditForCosts') ? 'usa-input-error' : ''">
    <div class="form-question-text">Did the employer take credit for the cost of providing facilities, such as board, lodging, and transportation, toward meeting the minimum wage or subminimum wage obligations during the most recently completed fiscal quarter?
      <helplink></helplink>
      <helptext id="takeCreditForCostsHelp">Indicate if the employer provided facilities such as lodging, board, and transportation to any employee, and took credit for those costs toward meeting the minimum wage or subminimum wage obligations to employees with disabilities during the most recently completed fiscal quarter. See 29 C.F.R. § 531 and 29 C.F.R. § 516.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.takeCreditForCosts')">{{ validate('employer.takeCreditForCosts') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Take credit for costs</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="takeCreditForCosts_1" type="radio" name="takeCreditForCosts" aria-describedby="takeCreditForCostsHelp" ng-value="true" ng-model="formData.employer.takeCreditForCosts">
          <label for="takeCreditForCosts_1">Yes</label>
        </li>
        <li>
          <input id="takeCreditForCosts_0" type="radio" name="takeCreditForCosts" aria-describedby="takeCreditForCostsHelp" ng-value="false" ng-model="formData.employer.takeCreditForCosts">
          <label for="takeCreditForCosts_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div ng-show="formData.employer.takeCreditForCosts === true" ng-class="validate(['employer.providingFacilitiesDeductionTypeId', 'employer.providingFacilitiesDeductionTypeOther']) ? 'usa-input-error' : ''">
    <label for="deductionType">Which type of deduction(s) did the employer take?</label>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.providingFacilitiesDeductionTypeId')">{{ validate('employer.providingFacilitiesDeductionTypeId') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Providing facilities deduction type</legend>
      <ul class="usa-unstyled-list">
        <li ng-repeat="response in responses.ProvidingFacilitiesDeductionType">
          <input id="deductionType_{{ response.id }}" type="checkbox" name="deductionType" ng-value="response.id" ng-checked="formData.employer.providingFacilitiesDeductionTypeId.indexOf(response.id) > -1" ng-click="vm.toggleDeductionType(response.id)">
          <label for="deductionType_{{ response.id }}">{{ response.display }}</label>
        </li>
      </ul>
    </fieldset>
  </div>
  <div class="form-question-block" ng-class="validate('employer.temporaryAuthority') ? 'usa-input-error' : ''">
    <div class="form-question-text">
      Is this a request for Temporary Authority by a vocational rehabilitation program administered by a State agency or the U.S. Veterans Administration?
      <helplink></helplink>
      <helptext id="temporaryAuthorityHelp">Select “Yes” only if the application is being filed by a vocational rehabilitation program administered by a State agency or the U.S. Veterans Administration. See 29 C.F.R. § 525.8.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('employer.temporaryAuthority')">{{ validate('employer.temporaryAuthority') }}</span>
    <fieldset class="usa-fieldset-inputs form-question-answer">
      <legend class="hide">Temporary authority</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="temporaryAuthority_1" type="radio" name="temporaryAuthority" aria-describedby="temporaryAuthorityHelp" ng-value="true" ng-model="formData.employer.temporaryAuthority">
          <label for="temporaryAuthority_1">Yes</label>
        </li>
        <li>
          <input id="temporaryAuthority_0" type="radio" name="temporaryAuthority" aria-describedby="temporaryAuthorityHelp" ng-value="false" ng-model="formData.employer.temporaryAuthority">
          <label for="temporaryAuthority_0">No</label>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
