<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="BoolConfig" value="true" />
    <add key="IntConfig" value="1" />
    <add key="StringConfig" value="value" />
    <add key="DoubleConfig" value="123.4" />
    <add key="AllowedFileNamesRegex" value="^.*\.(doc|docx|xls|pdf|jpg|jpeg|png|csv)$" />
    <add key="AttachmentFileDownloadBufferSize" value="1024" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="DOL.WHD.Section14c.Log" />
      <add assembly="NLog.Web" />
    </extensions>
    <targets>      
      <target name="file" xsi:type="File" layout="${date} ${logger} ${level} ${message} ${api-log:Name=EIN} ${api-log:Name=CorrelationId} ${api-log:Name=Exception} ${api-log:Name=StackTrace} ${api-log:Name=UserId} ${api-log:Name=IsServiceSideLog}" fileName="${basedir}/../../TestLogs/${date:format=yyyy-MM-dd}-api.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" maxlevel="Warn" writeTo="apiactivitylog" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="no-reply@dol.gov">
        <specifiedPickupDirectory pickupDirectoryLocation="TestUploads\"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>