.answer-block {
    margin-top: 30px;
    max-width: 60rem;

    .answer-question {
        font-weight: 700;
        font-size: 2rem;

        .subtext {
            //font-weight: 400;
        }
    }

    .answer-answer {
        font-weight: 400;
        margin-top: 10px;
    }
}
