td.edit-table-entry:before {
  &:not(.nomargin) {
    margin-left: 40px;
  }

  content: "Edit";
  &:hover {

  }

  &:active {

  }
  cursor: pointer;
}

td.delete-table-entry:before {
  &:not(.nomargin) {
    margin-left: 40px;
  }

  content: "Delete";
  &:hover {

  }

  &:active {

  }
  cursor: pointer;
}

.wage {
  font-size: 12px;
}
