.dol-header-form {
    padding: 2rem 0;
    @include clearfix();

    h1 {
        font-size: 2.4rem;
        margin: 0;
        float: left;
    }

    nav {
        float: right;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin: 0;
                padding-left: 1.5rem;
            }
        }
    }
}

.dol-form-meta {
    background-color: $color-gray-lightest;
    padding: 1.5rem;
    border-top: 1px solid #aeb0b5;
    border-bottom: 1px solid #aeb0b5;
    @include clearfix();

    .usa-content {
        float: left;

        p {
            margin: 0;
        }
    }
}

.dol-form-omb {
    float: right;
    font-size: 1.4rem;
    text-align: right;

    p {
        margin: 0;
    }
}

.dol-applicant-meta {
    position: relative;
    padding: 1.5rem;
    background-color: $color-gray-darker;
}

.dol-applicant-ein {
    color: $color-white;
}

.dol-form-status {
    //TODO
}

.dol-feedback-save {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $color-white;

    span {
        display: block;
        padding: 1.5rem;

        &.dol-feedback-save-success {
            border-top: .6rem solid $color-green;
            padding-top: .9rem;

            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 7px;
                width: 20px;
                height: 20px;
                background: url('../images/dol-checkmark-green.png') center center;
                background: url('../images/dol-checkmark-green.svg') center center;
                background-size: contain;
            }
        }

        &.dol-feedback-save-error {
            border-top: .6rem solid $color-secondary;
            padding-top: .9rem;

            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 7px;
                width: 20px;
                height: 20px;
                background: url('../images/dol-error-red.png') center center;
                background: url('../images/dol-error-red.svg') center center;
                background-size: contain;
            }
        }

        &.dol-feedback-save-process {
            border-top: .6rem solid $color-green;
            padding-top: .9rem;

            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 7px;
                width: 20px;
                height: 20px;
                background: url('../images/dol-saving-small-green.gif') center center;
                background-size: contain;
            }
        }
    }
}
