.dol-header-form {
  padding: 2rem 0;
  @include clearfix();

  h1 {
    font-size: 2.4rem;
    margin: 0;
  }

  nav {
    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding-top: 1.5rem;

        + li {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

.crumbs {
  display: inline;
  margin-left: 5px;
  font-size: 11px;
  a:link {
      text-decoration: none;
  }

  a:visited {
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  a:active {
      text-decoration: underline;
  }
}

.crumbs-container {
    float: left;
    margin-bottom: 20px;
    font-size: 11px;
}

.crumbsHeader {
  font-size: 12px;
  margin-bottom: .5rem;
}

breadcrumb {
  display: block;
  margin-top: 1rem;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 65px;
  background: brown; /* fallback color */
  background: hsla(34,85%,35%,1);
  font-size: 11px;
  position: relative;
  display: block;
  float: left;
}

.dol-form-meta {
  position: relative;
  font-size: 1.2rem;
  background-color: $color-gray-lightest;
  padding: 1rem;
  border-top: 1px solid #aeb0b5;
  border-bottom: 1px solid #aeb0b5;
  @include clearfix();

  .usa-content {
    p {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &[ng-show='admin'] {
        font-size: 1.7rem;
        font-weight: 700;
      }
    }
  }
}

.dol-form-omb {
  p {
    display: inline-block;
    margin: 0 1rem 0 0;
  }

  nav {
    float: right;
  }
}

.dol-login-header {
  display: block;
  font-size: 1.5rem;
  p {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.dol-applicant-meta {
  position: relative;
  background-color: $color-gray-darker;
}

.dol-applicant-ein {
  padding: 1.5rem;
  color: $color-white;
}

.dol-form-status {
  font-size: 1.7rem;
  padding: 1rem 0;
}

@media (min-width: 50em) {
  .dol-header-form {
    h1 {
      float: left;
    }

    nav {
      float: right;

      ul {
        text-align: left;

        li {
          padding-top: 0;
        }
      }
    }
  }
}

@media (min-width: 68.75em) {
  .dol-form-meta {
    font-size: 1.4rem;
    padding: 1.5rem;

    .usa-content {
      float: left;
    }
  }

  .dol-form-omb {
    float: right;
    text-align: right;

    p {
      margin: 0 0 0 1rem;
    }
  }

  .dol-form-status {
    position: absolute;
    right: 0;
    background: $color-white;
    top: 0;
    bottom: 0;
    padding: 1.5rem;
  }
}
