.dol-header-form {
    padding: 2rem 0;
    @include clearfix();

    h1 {
        font-size: 2.4rem;
        margin: 0;
    }

    nav {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin: 0;
                padding-top: 1.5rem;

                + li {
                    padding-left: 1.5rem;
                }
            }
        }
    }
}

.dol-form-meta {
    font-size: 1.2rem;
    background-color: $color-gray-lightest;
    padding: 1rem;
    border-top: 1px solid #aeb0b5;
    border-bottom: 1px solid #aeb0b5;
    @include clearfix();

    .usa-content {
        p {
            margin: 0;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}

.dol-form-omb {
    p {
        display: inline-block;
        margin: 0 1rem 0 0;
    }
}

.dol-applicant-meta {
    position: relative;
    background-color: $color-gray-darker;
}

.dol-applicant-ein {
    padding: 1.5rem;
    color: $color-white;
}

.dol-form-status {
    //TODO
}

@media (min-width: 68.75em) {
    .dol-form-meta {
        font-size: 1.4rem;
        padding: 1.5rem;

        .usa-content {
            float: left;
        }
    }
    .dol-header-form {
        h1 {
            float: left;
        }

        nav {
            float: right;

            ul {
                text-align: left;

                li {
                    padding-top: 0;
                }
            }
        }
    }

    .dol-form-omb {
        float: right;
        text-align: right;

        p {
            margin: 0 0 0 1rem;
        }
    }
}