<breadcrumb></breadcrumb>
<div class="dol-form-section-title">
  <h2>Work Sites & Employees</h2>
  <div class="cd-panel from-right">
    <header class="cd-panel-header">
      <h2 ng-hide="vm.saveEmployee.status">Add Employee</h2>
      <div ng-show="vm.saveEmployee.status" class="dol-feedback-success">
        <p class="dol-feedback-message">
          <strong>Saved Employee: {{vm.saveEmployee.name}}</strong>
        </p>
      </div>
      <a href="#0" ng-click="vm.clearActiveWorker()"class="cd-panel-close">Close</a>
    </header>

    <div class="cd-panel-container">
      <div class="cd-panel-content">
        <div class="em-block">
          <div class="form-question-block" ng-class="vm.validateActiveWorkerProperty('name') ? 'usa-input-error' : ''">
            <div class="form-question-text">Name of worker</div>
            <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('name')">{{ vm.validateActiveWorkerProperty('name') }}</span>
            <div class="form-question-answer">
              <label for="workerName" class="hide">Full Name of Worker</label>
              <input id="workerName" name="workerName" type="text" ng-model="vm.activeWorker.name">
            </div>
          </div>

          <div class="form-question-block" ng-class="vm.validateActiveWorkerProperty('workType') ? 'usa-input-error' : ''">
            <div class="form-question-text">Type of work performed (for employees working more than one job, use job employee worked most hours at subminimum wage)</div>
            <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('workType')">{{ vm.validateActiveWorkerProperty('workType') }}</span>
            <div class="form-question-answer">
              <input id="workType" name="workType" type="text" ng-model="vm.activeWorker.workType">
            </div>
          </div>

          <div class="form-question-block" ng-class="vm.validateActiveWorkerProperty('primaryDisabilityId') ? 'usa-input-error' : ''">
            <div class="form-question-text">Primary disability that affects productivity for job described above. Pick only one.</div>
            <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('primaryDisabilityId')">{{ vm.validateActiveWorkerProperty('primaryDisabilityId') }}</span>
            <div class="form-question-answer">
              <fieldset class="usa-fieldset-inputs usa-sans">
                <legend class="hide">Primary disability</legend>
                <ul class="usa-unstyled-list">
                  <li ng-repeat="response in responses.PrimaryDisability">
                    <input id="primaryDisability_{{ response.id }}" type="radio" name="primaryDisability" ng-value="{{ response.id }}" ng-model="vm.activeWorker.primaryDisabilityId">
                    <label for="primaryDisability_{{ response.id }}">{{ response.display }}</label>
                    <input id="primaryDisabilityOther" name="primaryDisabilityOther" type="text" ng-model="vm.activeWorker[response.otherValueKey]" ng-if="response.otherValueKey">
                    <label for="primaryDisabilityOther" class="hide">Primary disability (other)</label>
                  </li>
                </ul>
              </fieldset>
            </div>
          </div>

          <!-- <div class="form-question-block" ng-class="vm.validateActiveWorkerProperty('workType') ? 'usa-input-error' : ''">
            <div class="form-question-text">Type of Work</div>
            <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('workType')">{{ vm.validateActiveWorkerProperty('workType') }}</span>
            <div class="form-question-answer">
              <label for="workType" class="hide">Type of Work</label>
              <input id="workType" name="workType" type="text" ng-model="vm.activeWorker.workType">
            </div>
          </div> -->

          <div class="form-question-block"><br />
            <div class="form-question-text">How many jobs did this worker perform at this work site?</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">How many jobs did this worker perform at this work site?</label>
              <div ng-class="vm.validateActiveWorkerProperty('numJobs') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('numJobs')">{{ vm.validateActiveWorkerProperty('numJobs') }}</span>
                <input id="workerNumJobs" name="workerNumJobs" type="number" class="numeric2" min="0" step="1" ng-model="vm.activeWorker.numJobs">
              </div>
            </div>

            <div class="form-question-text">Average # of hours worked per week on all jobs at this work site</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Average # of hours worked per week on all jobs at this work site</label>
              <div ng-class="vm.validateActiveWorkerProperty('avgWeeklyHours') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('avgWeeklyHours')">{{ vm.validateActiveWorkerProperty('avgWeeklyHours') }}</span>
                <input id="workerAvgHours" name="workerAvgHours" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.avgWeeklyHours">
              </div>
            </div>

            <div class="form-question-text">Average earnings per hour for all jobs at this work site</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Average earnings per hour for all jobs at this work site</label>
              <div ng-class="vm.validateActiveWorkerProperty('avgHourlyEarnings') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('avgHourlyEarnings')">{{ vm.validateActiveWorkerProperty('avgHourlyEarnings') }}</span>
                <input id="workerAvgEarnings" name="workerAvgEarnings" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.avgHourlyEarnings">
              </div>
            </div>

            <div class="form-question-text">Prevailing wage rate for job described above</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Prevailing wage rate for job described above</label>
              <div ng-class="vm.validateActiveWorkerProperty('prevailingWage') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('prevailingWage')">{{ vm.validateActiveWorkerProperty('prevailingWage') }}</span>
                <input id="workerWage" name="workerWage" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.prevailingWage">
              </div>
            </div>

            <div class="form-question-text">Productivity measure/rating for job described above</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Productivity measure/rating for job described above</label>
              <div ng-class="vm.validateActiveWorkerProperty('productivityMeasure') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('productivityMeasure')">{{ vm.validateActiveWorkerProperty('productivityMeasure') }}</span>

                <ul class="usa-unstyled-list">
                  <li>
                    <input id="workerProductivityNA" type="radio" name="workerProductivityToggle" ng-value="undefined" ng-model="vm.activeWorker.hasProductivityMeasure" ng-change="vm.workerProductivityChanged()">
                    <label for="workerProductivityNA">n/a - piece rate</label>
                  </li>
                  <li>
                    <input id="workerProductivityStudy" type="radio" name="workerProductivityToggle" ng-value="true" ng-model="vm.activeWorker.hasProductivityMeasure" ng-change="vm.workerProductivityChanged(true)">
                    <label for="workerProductivityStudy">hourly,</label>
                  </li>
                </ul>

                <input id="workerProductivity" name="workerProductivity" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.productivityMeasure" ng-disabled="!vm.activeWorker.hasProductivityMeasure">
              </div>
            </div>

            <div class="form-question-text">Commensurate wage rate/average earnings per hour for job described above</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Commensurate wage rate/average earnings per hour for job described above</label>
              <div ng-class="vm.validateActiveWorkerProperty('commensurateWageRate') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('commensurateWageRate')">{{ vm.validateActiveWorkerProperty('commensurateWageRate') }}</span>
                <input id="workerWageRate" name="workerWageRate" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.commensurateWageRate">
              </div>
            </div>

            <div class="form-question-text">Total hours worked for job described above</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Total hours worked for job described above</label>
              <div ng-class="vm.validateActiveWorkerProperty('totalHours') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('totalHours')">{{ vm.validateActiveWorkerProperty('totalHours') }}</span>
                <input id="workerHours" name="workerHours" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.totalHours">
              </div>
            </div>

            <div class="form-question-text">Does worker perform work for this employer at any other work site?</div>
            <div class="form-question-answer">
              <label for="workerNumJobs" class="hide">Does worker perform work for this employer at any other work site?</label>
              <div ng-class="vm.validateActiveWorkerProperty('workAtOtherSite') ? 'usa-input-error' : ''">
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorkerProperty('workAtOtherSite')">{{ vm.validateActiveWorkerProperty('workAtOtherSite') }}</span>
                <ul class="usa-unstyled-list">
                  <li>
                    <input id="workerOtherSiteYes" type="radio" name="workerOtherSite" ng-value="true" ng-model="vm.activeWorker.workAtOtherSite">
                    <label for="workerOtherSiteYes">Yes</label>
                  </li>
                  <li>
                    <input id="workerOtherSiteNo" type="radio" name="workerOtherSite" ng-value="false" ng-model="vm.activeWorker.workAtOtherSite">
                    <label for="workerOtherSiteNo">No</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="clearer">
            <button class="compact-spaced pull-right" ng-show="vm.activeWorkerIndex < 0" ng-click="vm.addAnotherEmployee()">Add Another Employee</button>
            <div class="clearer"></div>
            <hr>
            <button class="green-button pull-right" ng-click="vm.doneAddingEmployees($event)">Done {{ vm.activeWorkerIndex >= 0 ? 'Editing Employee' : 'Adding Employee(s)' }}</button>
          </div>
        </div>
      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
  </div> <!-- cd-panel -->
  <div class="dol-form-section-help">
    <ul>
      <li><a href="" ng-click="vm.showAllHelp = !vm.showAllHelp">Show Help for All Items</a></li>
    </ul>
  </div>
</div>

<div class="usa-alert usa-alert-error" role="alert" ng-show="validate('__worksites')">
  <div class="usa-alert-body">
    <p class="usa-alert-text">Please review this page. There are errors or missing information that we need to collect before you can submit the form.</p>
  </div>
</div>

<div class="form-page-full">
  <div class="form-question-block" ng-class="validate('totalNumWorkSites') ? 'usa-input-error' : ''">
    <div class="form-question-text">What is the total number of establishments and work sites to be covered by this certificate?
      <helplink></helplink>
      <helptext id="numWorkSitesHelp">Provide the total number of work sites for which the employer is seeking approval to employ workers at subminimum wages. Count all work sites, including the main establishment and any branch establishments, off-site work locations, and/or SWEP work sites.</helptext>
    </div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('totalNumWorkSites')">{{ validate('totalNumWorkSites') }}</span>
    <div class="form-question-answer">
      <input id="numWorkSites" name="numWorkSites" aria-describedby="numWorkSitesHelp" type="number" class="numeric7" min="0" step="1" ng-model="formData.totalNumWorkSites">
    </div>
  </div>

  <div class="form-question-block" ng-class="validate('workSites') ? 'usa-input-error' : ''">
    <div class="form-question-text">We’ll need to collect information about each worksite and its employees.</div>
    <span class="usa-input-error-message" role="alert" ng-show="validate('workSites')">{{ validate('workSites') }}</span>
    <button ng-click="vm.addWorkSite()" ng-hide="vm.addingWorkSite">Add Work Site & Employee(s)</button>
  </div>

  <div id="worksite_tab_box" class="form-tabbed-section" ng-show="vm.notInitialApp() && vm.addingWorkSite">
    <div class="form-tab {{ vm.activeTab === 1 ? 'active' : '' }}" ng-click="vm.setActiveTab(1)">
      <div class="circle">1</div> <span>Add</span> Work Site
    </div>
    <div class="form-tab {{ vm.activeTab === 2 ? 'active' : '' }}" ng-click="vm.setActiveTab(2)">
      <div class="circle">2</div> <span>Add</span> Employees
    </div>
  </div>

  <!-- Tab 1 (Add Work Site) -->
  <div class="form-spaced-div" ng-show="vm.addingWorkSite && vm.activeTab === 1">
    <div>First, we’ll collect information about the Work Site / Establishment.</div>

    <div class="form-question-block" ng-class="vm.validateActiveWorksiteProperty('type') ? 'usa-input-error' : ''">
      <div class="form-question-text">What type of establishment is this?
        <helplink></helplink>
        <helptext id="establishmentTypeHelp">
          <p>Indicate whether the work site is the main establishment, a branch establishment, an off-site work location, or a School Work Experience Program work site.</p>
          <p><strong>Main Establishment:</strong> The primary location of the employer that files this application on behalf of all its associated work sites. (There can only be one main establishment.)</p>
          <p><strong>Branch Establishment:</strong> A branch establishment is a physically separate work site that is part of the same organization as the main establishment.</p>
          <p><strong>Off-site Work Location:</strong> An off-site work location is a work site typically on the premises of a separate establishment, where workers with disabilities, or a group of workers with disabilities, are placed in work settings along with job coaches (staff of the rehabilitation or work center).</p>
          <p><strong>School Work Experience Program (SWEP):</strong> A school-operated program in which students with disabilities may be placed in jobs with private industry within the community. School employers are responsible for compliance with all applicable child labor laws, minimum wage standards, and certificate and recordkeeping requirements. The school may submit a group application which covers all students with disabilities and all of the business locations at which the students will be placed.</p>
        </helptext>
      </div>
      <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('type')">{{ vm.validateActiveWorksiteProperty('type') }}</span>
      <div class="form-question-answer">
        <fieldset class="usa-fieldset-inputs usa-sans">
          <legend class="hide">Work site type</legend>
          <ul class="usa-unstyled-list">
            <li ng-repeat="response in responses.WorkSiteType">
              <input id="establishmentType_{{ response.id }}" type="radio" name="establishmentType" aria-describedby="establishmentTypeHelp" ng-value="{{ response.id }}" ng-model="vm.activeWorksite.workSiteTypeId">
              <label for="establishmentType_{{ response.id }}">{{ response.display }}</label>
              <div class="underlabel checkbox-indent">{{ response.subDisplay }}</div>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>

    <div class="form-question-block" ng-class="vm.validateActiveWorksiteProperty('name') ? 'usa-input-error' : ''">
      <div class="form-question-text">Name of Establishment / Work Site</div>
      <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('name')">{{ vm.validateActiveWorksiteProperty('name') }}</span>
      <div class="form-question-answer">
        <label for="worksiteName" class="hide">Name of Establishment / Work Site</label>
        <input id="worksiteName" name="worksiteName" type="text" ng-model="vm.activeWorksite.name">
      </div>
    </div>

    <div class="form-question-block">
      <div class="form-question-text">Address of Establishment / Work Site</div>
      <div class="fomr-question-answer">
        <div class="usa-form-large">
          <fieldset>
            <legend class="hide">Address of Establishment / Work Site</legend>
            <div ng-class="vm.validateActiveWorksiteProperty('address.streetAddress') ? 'usa-input-error' : ''">
              <label for="worksiteAddress1">Street address</label>
              <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('address.streetAddress')">{{ vm.validateActiveWorksiteProperty('address.streetAddress') }}</span>
              <input id="worksiteAddress1" name="worksiteAddress1" type="text" ng-model="vm.activeWorksite.address.streetAddress">
            </div>

            <div class="clearer" ng-class="vm.validateActiveWorksiteProperty('address.city') || vm.validateActiveWorksiteProperty('address.state') ? 'usa-input-error' : ''">
              <div class="usa-input-grid usa-input-grid-medium">
                <label for="workAddressCity">City</label>
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('address.city')">{{ vm.validateActiveWorksiteProperty('address.city') }}</span>
                <input id="workAddressCity" name="workAddressCity" type="text" ng-model="vm.activeWorksite.address.city">
              </div>

              <div class="usa-input-grid usa-input-grid-small">
                <label for="workAddressState">State</label>
                <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('address.state')">{{ vm.validateActiveWorksiteProperty('address.state') }}</span>
                <state-field name="workAddressState" selected-state="vm.activeWorksite.address.state"></state-field>
              </div>
            </div>

            <div ng-class="vm.validateActiveWorksiteProperty('address.zipCode') ? 'usa-input-error' : ''">
              <label for="workAddressZip">Zip Code</label>
              <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('address.zipCode')">{{ vm.validateActiveWorksiteProperty('address.zipCode') }}</span>
              <input class="usa-input-medium" id="workAddressZip" name="workAddressZip" type="text" mask="99999-?9?9?9?9?" pattern="[\d]{5}(-[\d]{4})?" data-grouplength="5,4" data-delimiter="-" data-politespace ng-model="vm.activeWorksite.address.zipCode">
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="form-question-block" class="form-question-block" ng-class="vm.validateActiveWorksiteProperty('sca') ? 'usa-input-error' : ''">
      <div class="form-question-text">Is Service Contract Act (SCA)-covered work performed at this establishment / work site?
        <helplink></helplink>
        <helptext id="worksiteScaHelp">Mark "yes" if the employer has a Service Contract Act (SCA)-covered contract to provide services to the Federal Government and work under that contract is performed at this work site.</helptext>
      </div>
      <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('sca')">{{ vm.validateActiveWorksiteProperty('sca') }}</span>
      <div class="form-question-answer">
        <fieldset class="usa-fieldset-inputs usa-sans">
          <legend class="hide">(SCA)-covered?</legend>
          <ul class="usa-unstyled-list">
            <li>
              <input id="worksiteScaYes" type="radio" name="worksiteSca" aria-describedby="worksiteScaHelp" ng-value="true" ng-model="vm.activeWorksite.sca">
              <label for="worksiteScaYes">Yes</label>
            </li>
            <li>
              <input id="worksiteScaNo" type="radio" name="worksiteSca" aria-describedby="worksiteScaHelp" ng-value="false" ng-model="vm.activeWorksite.sca">
              <label for="worksiteScaNo">No</label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>

    <div class="form-question-block" class="form-question-block" ng-class="vm.validateActiveWorksiteProperty('federalContractWorkPerformed') ? 'usa-input-error' : ''">
      <div class="form-question-text">Is work performed at this establishment / work site pursuant to a Federal contract for services or concessions that was entered into on or after January 1, 2015, which indicates that the contract may be subject to Executive Order 13658 (Establishing a Minimum Wage for Contractors)?
        <helplink></helplink>
        <helptext id="worksiteFederalHelp">Mark “yes” if the employer has a contract with the Federal Government for services or concessions that was entered into on or after January 1, 2015, which indicates that the contract may be subject to <a href='https://www.federalregister.gov/documents/2014/02/20/2014-03805/establishing-a-minimum-wage-for-contractors' target='_blank'>Executive Order 13658</a> (Establishing a Minimum Wage for Contractors).</helptext>
      </div>
      <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('federalContractWorkPerformed')">{{ vm.validateActiveWorksiteProperty('federalContractWorkPerformed') }}</span>
      <div class="form-question-answer">
        <fieldset class="usa-fieldset-inputs usa-sans">
          <legend class="hide">Federal contract work performed?</legend>
          <ul class="usa-unstyled-list">
            <li>
              <input id="worksiteFederalYes" type="radio" name="worksiteFederal" aria-describedby="worksiteFederalHelp" ng-value="true" ng-model="vm.activeWorksite.federalContractWorkPerformed">
              <label for="worksiteFederalYes">Yes</label>
            </li>
            <li>
              <input id="worksiteFederalNo" type="radio" name="worksiteFederal" aria-describedby="worksiteFederalHelp" ng-value="false" ng-model="vm.activeWorksite.federalContractWorkPerformed">
              <label for="worksiteFederalNo">No</label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>

    <div class="form-question-block" class="form-question-block" ng-class="vm.validateActiveWorksiteProperty('numEmployees') ? 'usa-input-error' : ''" ng-show="vm.notInitialApp()">
      <div class="form-question-text">Total number of employees who were employed at this establishment/work site at any time during the most recently completed fiscal quarter and received subminimum wages:
        <helplink></helplink>
        <helptext id="worksiteNumEmployeesHelp">Count all employees who were paid subminimum wages and performed work at this work site during the most recently completed fiscal quarter that ended on the date provided in Item 7(a) of the WH-226. Include workers who were employed for less than the full fiscal quarter, i.e. three-month period.</helptext>
      </div>
      <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('numEmployees')">{{ vm.validateActiveWorksiteProperty('numEmployees') }}</span>
      <div class="form-question-answer">
        <input id="worksiteNumEmployees" name="worksiteNumEmployees" aria-describedby="worksiteNumEmployeesHelp" type="number" class="numeric7" min="0" step="1" ng-model="vm.activeWorksite.numEmployees">
      </div>
    </div>
  </div>

  <!-- Tab 2 (Add Employees) -->
  <div class="form-spaced-div" ng-show="vm.notInitialApp() && vm.addingWorkSite && vm.activeTab === 2">
    <div class="worksite-title">
      <h3 ng-if="!!vm.activeWorksite.name">{{ vm.activeWorksite.name }}</h3>
      <h4>Number of Employees: <strong>{{ vm.activeWorksite.employees.length  ? vm.activeWorksite.employees.length : 0 }}</strong></h4>
    </div>
    <div class="worksite-employee-help">
      <p>We’ll need collect specific information for each employee. <a href="" ng-click="vm.showEmployeeInfoHelp = !vm.showEmployeeInfoHelp">See detailed instructions on employee information</a></p>
      <div class="need-help">
        <img src="/images/chat-icon.svg"/> Need Help? Email us: <a href="">help-14c@dol.gov</a>
      </div>
    </div>

    <div class="dol-help-employee-info" ng-show="vm.showEmployeeInfoHelp">
      <ul>
        <li>
          <span>Name of worker</span>
          <span>Provide the full name of the worker.</span>
        </li>
        <li>
          <span>Primary disability</span>
          <span>Identify the primary disability that affects the worker’s productivity for the job identified using the categories provided.</span>
        </li>
        <li>
          <span>Type of work</span>
          <span>
            <p>Descibe the work peformed by this worker in the job for which the worker worked the most number of hours at a subminimum wage.</p>
            <p>Examples may include: sewing, janitorial, box assembly, laundry, etc.</p>
          </span>
        </li>
        <li>
          <span>Number of Jobs</span>
          <span>If the worker performed more than one job at this work site during the most recently compelted fiscal quarter provide the total number of jobs.</span>
        </li>
        <li>
          <span>Average Hours per Week</span>
          <span>
            <p>Provide the average (mean) number of hours per week the employee worked on all jobs at this work site during the most recently completed fiscal quarter.</p>
            <p>Calculate this by taking the total number of hours the employee worked during the most recently completed three-month fiscal quarter and dividing by the number of weeks in the quarter (13 weeks).</p>
            <p>For example: 260 hours worked in the quarter ÷ 13 weeks per quarter = 20 hours per week average.</p>
          </span>
        </li>
        <li>
          <span>Average Earnings per Hour</span>
          <span>
            <p>Average earnings are computed by dividing the total earnings of the individual worker by the total number of hours worked during the most recently completed fiscal quarter.</p>
            <p>Note:The total number of hours worked should only include the compensable work time (for example: generally would not include time spent in rehabilitation, therapy, etc.)</p>
            <p>For example, John Jones earned $900 during the fiscal quarter and he worked 300 hours. $900 ÷ 300 hours = $3.00 per hour, therefore, Mr. Jones’s average earnings per hour are $3.00.</p>
          </span>
        </li>
        <li>
          <span>Prevailing Wage</span>
          <span>Provide the prevailing wage rate for the job identified.</span>
        </li>
        <li>
          <span>Productivity Measure</span>
          <span>
            <p>Provide the employee’s most recent productivity rating the job identified.</p>
            <p>For work paid hourly, the productivity rating is the employee’s productivity in proportion to the standard-setter’s that was determined by the employee’s time study.</p>
            <p>For piece rate work, no calculation is required, choose “n/a - piece rate”.</p>
          </span>
        </li>
        <li>
          <span>Commensurate Wage Rate</span>
          <span>
            <p>For work paid hourly, provide the employee’s commensurate wage rate per hour for the job identified. This should be the wage rate actually paid to the worker for this job.</p>
            <p>For piece rate work, provide the employee’s average earnings per hour for the job identified.</p>
          </span>
        </li>
        <li>
          <span>Total Hours</span>
          <span>Provide the employee’s total hours worked on the job identified over the most recently completed fiscal quarter.</span>
        </li>
        <li>
          <span>Work at Other Site?</span>
          <span>Answer “yes” if the employee also performed work at another work site included with this application. You must add the worker for each work site they worked at.</span>
        </li>
      </ul>
    </div>



    <div class="form-question-group">
      <div ng-class="vm.validateActiveWorksiteProperty('employee_count') ? 'usa-input-error' : ''">
        <span class="usa-input-error-message" role="alert" ng-show="vm.validateActiveWorksiteProperty('employee_count')">{{ vm.validateActiveWorksiteProperty('employee_count') }}</span>
        <div>
          <button  ng-click="vm.addingEmployee = true" class="cd-btn">Add Employee</button>
          <a href="" ng-click="vm.showEmployeeExampleHelp = !vm.showEmployeeExampleHelp">Show Me an Example</a>
          <div class="dol-help-employee-example" ng-show="vm.showEmployeeExampleHelp">
          </div>
          <div ng-show="vm.activeWorksite.employees.length > 0" class="container">
            <results-table results="vm.activeWorksite.employees" columns="vm.columns"></results-table>
          </div>
        </div>
      </div>
    </div>

  <div ng-class="validate('workSites_count') ? 'usa-input-error' : ''" ng-show="!vm.addingWorkSite && formData.workSites.length">
    <span class="usa-input-error-message" role="alert" ng-show="validate('workSites_count')">{{ validate('workSites_count') }}</span>
    <table class="usa-table-borderless expandable-table">
      <thead>
        <tr>
          <td></td>
          <th scope="col">Work Site Name</th>
          <th scope="col">Number of Workers</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="expanding-row {{ $index % 2 !== 0 ? 'greyed' : ''}}" ng-repeat-start="site in formData.workSites">
          <td>
            <a id="worksite_row_toggle_{{$index}}" href="" ng-click="vm.siteRowClicked($event)">
              <div class="arrow-expander"></div>
            </a>
          </td>
          <th scope="row">
            <div ng-class="validate('workSites[' + $index + ']') ? 'usa-input-error' : ''">
              <span class="usa-input-error-message" role="alert" ng-show="validate('workSites[' + $index + ']')">Please review this work site</span>
              {{ site.name }}
            </div>
          </th>
          <td>{{ site.numEmployees }}</td>
          <td>
            <button class="green-button" ng-click="vm.editWorkSite($index)">Edit</button>
            <button class="usa-button-secondary" ng-click="vm.deleteWorkSite($index)">Delete</button>
          </td>
        </tr>
        <tr class="expanded-row {{ $index % 2 !== 0 ? 'greyed' : ''}}" ng-repeat-end>
          <td></td>
          <td colspan="3">
            <div ng-repeat="employee in site.employees">
              {{ employee.name }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
