<div class="form-page-full">
    <div class="form-question-block">
        <div class="form-question-text">What is the total number of establishments and work sites to be covered by this certificate?</div>
        <div class="form-question-answer">
            <input id="numWorkSites" name="numWorkSites" type="number" class="numeric7" min="0" step="1" ng-model="formData.totalNumWorkSites">
        </div>
    </div>

    <div class="form-question-block">
        <div class="form-question-text">We'll need to collect information about each worksite and its employees.</div>
        <button ng-click="vm.addWorkSite()" ng-hide="vm.addingWorkSite">Add Work Site &amp; Employee(s)</button>
    </div>

    <div class="form-tabbed-section" ng-show="vm.addingWorkSite">
        <div class="form-tab {{ vm.activeTab === 1 ? 'active' : '' }}" ng-click="vm.setActiveTab(1)"><div class="circle">1</div> Add Work Site</div>
        <div class="form-tab {{ vm.activeTab === 2 ? 'active' : '' }}" ng-click="vm.setActiveTab(2)"><div class="circle">2</div> Add Employees</div>
    </div>

    <!-- Tab 1 (Add Work Site) -->
    <div class="form-spaced-div" ng-show="vm.addingWorkSite && vm.activeTab === 1">
        <div>First, we'll collect information about the Work Site / Establishment.</div>

        <div class="form-question-block">
            <div class="form-question-text">What type of establishment is this?</div>
            <div class="form-question-answer">
                <fieldset class="usa-fieldset-inputs usa-sans">
                    <ul class="usa-unstyled-list">
                        <li ng-repeat="response in responses.WorkSiteType">
                            <input id="establishmentType_{{ response.id }}" type="radio" name="establishmentType" ng-value="{{ response.id }}" ng-model="vm.acitveWorksite.type">
                            <label for="establishmentType_{{ response.id }}">{{ response.display }}</label>
                            <div class="underlabel checkbox-indent">{{ response.subDisplay }}</div>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>

        <div class="form-question-block">
            <div class="form-question-text">Name of Establishment / Work Site</div>
            <div class="form-question-answer">
                <input id="worksiteName" name="worksiteName" type="text" ng-model="vm.activeWorksite.name">
            </div>
        </div>

        <div class="form-question-block">
            <div class="form-question-text">Address of Establishment / Work Site</div>
            <div class="fomr-question-answer">
                <form class="usa-form-large">
                    <fieldset>
                      <label for="worksiteAddress1">Street address 1</label>
                      <input id="worksiteAddress1" name="worksiteAddress1" type="text" ng-model="vm.activeWorksite.address.streetAddress">

                      <label for="worksiteAddress2">Street address 2 <span class="usa-additional_text">Optional</span></label>
                      <input id="worksiteAddress2" name="worksiteAddress2" type="text">

                      <div>
                        <div class="usa-input-grid usa-input-grid-medium">
                          <label for="city">City</label>
                          <input id="workAddressCity" name="workAddressCity" type="text" ng-model="vm.activeWorksite.address.city">
                        </div>

                        <div class="usa-input-grid usa-input-grid-small">
                          <label for="workAddressState">State</label>
                          <select id="workAddressState" workAddressState="state" ng-model="vm.activeWorksite.address.state">
                            <option value></option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                            <option value="AS">American Samoa</option>
                            <option value="GU">Guam</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="VI">Virgin Islands</option>
                          </select>
                        </div>
                      </div>

                      <label for="workAddressZip">ZIP</label>
                      <input class="usa-input-medium" id="workAddressZip" name="workAddressZip" type="text" pattern="[\d]{5}(-[\d]{4})?" data-grouplength="5,4" data-delimiter="-" data-politespace  ng-model="vm.activeWorksite.address.zipCode">
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="form-question-block">
            <div class="form-question-text">Is Service Contract Act (SCA)-covered work performed at this establishment / work site?</div>
            <div class="form-question-answer">
                <fieldset class="usa-fieldset-inputs usa-sans">
                    <ul class="usa-unstyled-list">
                        <li>
                            <input id="worksiteScaYes" type="radio" name="worksiteSca" ng-value="true" ng-model="vm.acitveWorksite.sca">
                            <label for="worksiteScaYes">Yes</label>
                        </li>
                        <li>
                            <input id="worksiteScaNo" type="radio" name="worksiteSca" ng-value="false" ng-model="vm.acitveWorksite.sca">
                            <label for="worksiteScaNo">No</label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>

        <div class="form-question-block">
            <div class="form-question-text">Is work performed at this establishment / work site pursuant to a Federal contract for services or concessions?</div>
            <div class="form-question-answer">
                <fieldset class="usa-fieldset-inputs usa-sans">
                    <ul class="usa-unstyled-list">
                        <li>
                            <input id="worksiteFederalYes" type="radio" name="worksiteFederal" ng-value="true" ng-model="vm.acitveWorksite.federalContractWorkPerformed">
                            <label for="worksiteFederalYes">Yes</label>
                        </li>
                        <li>
                            <input id="worksiteFederalNo" type="radio" name="worksiteFederal" ng-value="false" ng-model="vm.acitveWorksite.federalContractWorkPerformed">
                            <label for="worksiteFederalNo">No</label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>

        <div class="form-question-block">
            <div class="form-question-text">Total Number of employees employed at this establishment / work site at any time during the most recently completed fiscal quarter:</div>
            <div class="form-question-answer">
                <input id="worksiteNumEmployees" name="worksiteNumEmployees" type="text" ng-model="vm.activeWorksite.numEmployees">
            </div>
        </div>
    </div>

    <!-- Tab 2 (Add Employees) -->
    <div class="form-spaced-div" ng-show="vm.addingWorkSite && vm.activeTab === 2">
        <div>You indicated this Establishment / Work Site employed {{ vm.activeWorksite.numEmployees ? vm.activeWorksite.numEmployees : 0 }} employees in the most recently completed fiscal quarter.</div>

        <div class="form-spaced-div">
            <span>We'll need to collect specific information for each employee:</span>
            <ul class="compact-list">
                <li>Name</li>
                <li>Number of Jobs Performed at Work Site / Establishment</li>
                <li>Average number of hours worked per week on all jobs at this work site</li>
                <li>Average earnings per hour for all jobs at this work site</li>
                <li>Type of work performed</li>
                <li>Primary disability</li>
                <li>Prevailing wage rate for job described</li>
                <li>Productivity measure/rating for job described</li>
                <li>Commensurate wage rate/average earnings per hour for job described</li>
                <li>Total hours worked for job descirbed</li>
                <li>Indicate if the worker performs work for this employer at any other work site</li>
            </ul>
        </div>

        <div class="form-question-group">
            <div class="em-block" ng-show="vm.addingEmployee">
                <div class="form-question-block">
                    <div class="form-question-text">Full Name of Worker</div>
                    <div class="form-question-answer">
                        <input id="workerName" name="workerName" type="text" ng-model="vm.activeWorker.name">
                    </div>
                </div>

                <div class="form-question-block">
                    <div class="form-question-text">Primary Disability</div>
                    <div class="form-question-answer">
                        <fieldset class="usa-fieldset-inputs usa-sans">
                            <ul class="usa-unstyled-list">
                                <li ng-repeat="response in responses.PrimaryDisability">
                                    <input id="primaryDisability_{{ response.id }}" type="radio" name="primaryDisability" ng-value="{{ response.id }}" ng-model="vm.activeWorker.primaryDisability">
                                    <label for="primaryDisability_{{ response.id }}">{{ response.display }}</label>
                                    <input id="primaryDisabilityOther" name="primaryDisabilityOther" type="text" ng-model="vm.activeWorker[response.otherValueKey]" ng-if="response.otherValueKey">
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>

                <div class="form-question-block">
                    <div class="form-question-text">Type of Work</div>
                    <div class="form-question-answer">
                        <input id="workType" name="workType" type="text" ng-model="vm.activeWorker.workType">
                    </div>
                </div>

                <div class="form-question-block">
                    <div class="form-question-text">Wage Data</div>
                    <div class="form-question-answer">
                        <table class="wage-data-table">
                            <thead>
                                <tr>
                                    <th scope="col">Number of Jobs</th>
                                    <th scope="col">Average Hours per Week</th>
                                    <th scope="col">Average Earnings per Hour</th>
                                    <th scope="col">Prevailing Wage</th>
                                    <th scope="col">Productivity Measure</th>
                                    <th scope="col">Commensurate Wage Rate</th>
                                    <th scope="col">Total Hours</th>
                                    <th scope="col">Work at Other Site?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input id="workerNumJobs" name="workerNumJobs" type="number" class="numeric2" min="0" step="1" ng-model="vm.activeWorker.numJobs"></td>
                                    <td><input id="workerAvgHours" name="workerAvgHours" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.avgWeeklyHours"></td>
                                    <td><input id="workerAvgEarnings" name="workerAvgEarnings" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.avgHourlyEarnings"></td>
                                    <td><input id="workerWage" name="workerWage" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.prevailingWage"></td>
                                    <td><input id="workerProductivity" name="workerProductivity" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.productivityMeasure"></td>
                                    <td><input id="workerWageRate" name="workerWageRate" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.commensurateWageRate"></td>
                                    <td><input id="workerHours" name="workerHours" type="number" class="wage-rate" min="0" step="0.1" ng-model="vm.activeWorker.totalHours"></td>
                                    <td>
                                        <ul class="usa-unstyled-list">
                                            <li>
                                                <input id="workerOtherSiteYes" type="radio" name="workerOtherSite" ng-value="true" ng-model="vm.activeWorker.workAtOtherSite">
                                                <label for="workerOtherSiteYes">Yes</label>
                                            </li>
                                            <li>
                                                <input id="workerOtherSiteNo" type="radio" name="workerOtherSite" ng-value="false" ng-model="vm.activeWorker.workAtOtherSite">
                                                <label for="workerOtherSiteNo">No</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="clearer">
                    <button class="compact-spaced pull-right" ng-click="vm.addAnotherEmployee()">Add Another Employee</button>
                    <div class="clearer"></div>
                    <hr>
                    <button class="green-button pull-right" ng-click="vm.doneAddingEmployees()">Done Adding Employee(s)</button>
                </div>
            </div>

            <div>
                <div ng-hide="vm.addingEmployee"><button ng-click="vm.addingEmployee = true">Add Employee</button> <a href="" ng-click="">Show Me an Example</a></div>
                <table class="usa-table-borderless" ng-show="vm.activeWorksite.employees.length">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Disability</th>
                            <th scope="col">Work Performed</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="expanding-row {{ $index % 2 !== 0 ? 'greyed' : ''}}" ng-repeat-start="employee in vm.activeWorksite.employees">
                            <th scope="row"><a href="" ng-click="vm.siteRowClicked($event)"><div class="arrow-expander"></div></a> {{ employee.name }}</th>
                            <td>{{ vm.getDisabilityDisplay(employee) }}</td>
                            <td>{{ employee.workType }}</td>
                            <td class="button-column"><button class="green-button" ng-click="vm.editEmployee($index)">Edit</button><button class="usa-button-secondary" ng-click="vm.deleteEmployee($index)">Delete</button></td>
                        </tr>
                        <tr class="expanded-row {{ $index % 2 !== 0 ? 'greyed' : ''}}" ng-repeat-end>
                            <td colspan="4">
                                <div class="subtable">
                                    <div>Number of Jobs<div>{{ employee.numJobs}}</div></div>
                                    <div>Average Hours per Week<div>{{ employee.avgWeeklyHours}}</div></div>
                                    <div>Average Earnings per Hours<div>${{ employee.avgHourlyEarnings}}</div></div>
                                    <div>Prevailing Wage Rate<div>${{ employee.prevailingWage}}</div></div>
                                    <div>Productivity Measure<div>{{ employee.productivityMeasure}}</div></div>
                                    <div>Commensurate Wage Rate<div>${{ employee.commensurateWageRate}}</div></div>
                                    <div>Total Hours Worked<div>{{ employee.totalHours}}</div></div>
                                    <div>Work at Other Site?<div>{{ employee.workAtOtherSite ? "Yes" : "No" }}</div></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <table class="usa-table-borderless" ng-show="!vm.addingWorkSite && formData.workSites.length">
        <thead>
            <tr>
                <th scope="col">Work Site Name</th>
                <th scope="col">Number of Workers</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="expanding-row {{ $index % 2 !== 0 ? 'greyed' : ''}}" ng-repeat-start="site in formData.workSites">
                <th scope="row"><a href="" ng-click="vm.siteRowClicked($event)"><div class="arrow-expander"></div></a> {{ site.name }}</th>
                <td>{{ site.numEmployees }}</td>
                <td><button class="green-button" ng-click="vm.editWorkSite($index)">Edit</button><button class="usa-button-secondary" ng-click="vm.deleteWorkSite($index)">Delete</button></td>
            </tr>
            <tr class="expanded-row {{ $index % 2 !== 0 ? 'greyed' : ''}}" ng-repeat-end>
                <td colspan="3">
                    <div ng-repeat="employee in site.employees">
                        {{ employee.name }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
